<div class=" card container-fluid text-center" style="background-color: aliceblue;">
  <h3 class="mb-3 Heading-font-family pt-1">COMPLIANCE DETAILS</h3>
</div>
<div class="container-fluid p-0 m-0 py-3">
  <div class="row justify-content-center g-4 px-3">
    <div class="col-lg-12 mb-5">
      <div *ngIf="loadingSectionA; else sectionAContentA" class="spinner-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      <ng-template #sectionAContentA>
        <!-- DATA Table -->
        <div class="row justify-content-center g-4 p-3">
          <!-- Card 1 -->
          <div class="col-12 col-md-12 p-2">
            <div class="" style="padding-bottom: 20px;">
              <div class=" card row shadow ">
                <div class="d-flex justify-content-between align-items-center m-2">
                  <div class="filter-field flex-grow-1">
                    <input type="text" class="form-control" placeholder="Search" (keyup)="applyTextFilter($event)">
                  </div>

                  <!-- <button type="button" class="btn border rounded mr-1 text-light" style="background-color: rgb(21, 184, 0);"
                          (click)="onButtonClickAT()"><i class="bi bi-folder-plus"></i></button> -->
                  <div class="export-menu-container m-2">
                    <button type="button" class="btn border rounded mr-1 text-light"
                      style="background-color: rgb(21, 184, 0);" (click)="onButtonClick1()">Add <i
                        class="bi bi-folder-plus"></i></button>
                    <!-- <button type="button" class="btn border rounded btn-outline-secondary" mat-button
                            [matMenuTriggerFor]="exportMenu">Export</button>
                          <mat-menu #exportMenu="matMenu">
                            <button mat-menu-item
                              (click)="exporter.exportTable('xlsx', { fileName: 'COMPLIANCED', sheet: 'COMPLIANCED', Props: { Author: 'cgmsc' }})">Excel</button>
                            <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
                            <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
                              <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
                            <button mat-menu-item (click)="exportToPDF()">PDF</button>
                          </mat-menu> class="mat-elevation-z1"-->
                  </div>
                </div>

                <div class="table-responsive">

                  <table class="table table-bordered table-striped border rounded" mat-table [dataSource]="dataSource"
                    mat-table matTableExporter #exporter="matTableExporter" matSort #sort="matSort">
                    <ng-container matColumnDef="sno">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        {{element.sno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="licno">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Licence</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.licno}} </td>
                    </ng-container>

                    <ng-container matColumnDef="unitname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Name</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.unitname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="whono">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Compliance No</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.whono}} </td>
                    </ng-container>
                    <ng-container matColumnDef="comid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Compliance ID</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.comid}} </td>
                    </ng-container>
                    <ng-container matColumnDef="comname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Compliance Name</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.comname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="issuedate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Date</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.issuedate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="startdate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.startdate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="validitydate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Validity Date</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.validitydate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="remarks">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.remarks}} </td>
                    </ng-container>
                    <ng-container matColumnDef="whotype">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>WHO Type</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.whotype}}

                      </td>
                    </ng-container>

                    <ng-container matColumnDef="vregid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>vreg ID</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.vregid}} </td>
                    </ng-container>
                    <ng-container matColumnDef="supplierid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier ID</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.supplierid}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ext">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>EXT</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.ext}} </td>
                    </ng-container>
                    <ng-container matColumnDef="licid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lic Id</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.licid}} </td>
                    </ng-container>
                    <ng-container matColumnDef="filename">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>View Certificate</th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button
                          class="btn btn-sm text-light align-items-center border rounded  btn-outline-danger-subtle bg-danger-subtle"
                          mat-button (click)="DownloadFileWithName(element.filepath,element.filename)"><i
                            class="bi bi-filetype-pdf text-danger"></i>
                        </button>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
                                                  <td mat-cell *matCellDef="let element" class="text-center">
                                                    <!-- <span class="d-flex  flex-row-reverse p-2 "> -->
                                                      <button
                                                        class="btn btn-sm text-light align-items-center border rounded btn-outline-info-subtle  bg-info-subtle"
                                                        mat-button (click)="onButtonClick(element.licid)">
                                                        <i class="bi bi-pencil-square text-primary"></i>
                                                      </button>
                                                    <!-- </span> -->
                                                  </td>
                                                </ng-container>
                                                <ng-container matColumnDef="delete">
                                                  <th mat-header-cell *matHeaderCellDef>Delete</th>
                                                  <td mat-cell *matCellDef="let element" class="text-center">
                                                    <!-- <span class="d-flex  flex-row-reverse p-2 "> -->
                                                      <button
                                                        class="btn btn-sm text-light align-items-center border rounded  btn-outline-danger-subtle  bg-danger-subtle"
                                                        mat-button (click)="onButtonClick(element.atid)">
                                                        <i class="bi bi-trash text-danger"></i>
                                                      </button>
                                                    <!-- </span> -->
                                                  </td>
                                                </ng-container>
                    <ng-container matColumnDef="whoid">
                      <th mat-header-cell *matHeaderCellDef>Compliance Type Detail</th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button class="btn btn-outline-primary btn-sm" (click)="toggleDetails(element, element.whoid)">
                          {{ expandedElement === element ? 'Hide' : 'Show' }}
                        </button>
                      </td>
                    </ng-container>
                    <!-- DETAIL ROW (collapsible) -->
                    <ng-container matColumnDef="expandedDetail">
                      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">

                        <div class="detail-wrapper detail-expand"
                          [@detailExpand]="expandedElement === row.data ? 'expanded' : 'collapsed'"
                          *ngIf="row.detailRow">

                          <div class="p-3 bg-light border rounded mt-2">

                            <h6 class="fw-bold mb-2 text-center">Compliance Type Details</h6>

                            <!-- INNER DETAIL TABLE -->
                            <div class="table-responsive border rounded">
                              <table class="table table-bordered table-sm mb-0">
                                <thead class="table-secondary">
                                  <tr>
                                    <th class="text-center">S.No</th>
                                    <th class="text-center">WHO NO</th>
                                    <th class="text-center">Type Name</th>
                                    <!-- <th>Vreg ID</th> -->
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr *ngFor="let d of COMTyepDetailsdata">
                                    <td class="text-center">{{d.sno}}</td>
                                    <td class="text-center">{{d.whono}}</td>
                                    <td class="text-center">{{d.itemtypename}}</td>
                                    <!-- <td>{{d.vregid}}</td> -->
                                  </tr>

                                  <tr *ngIf="COMTyepDetailsdata.length == 0">
                                    <td colspan="4" class="text-center text-muted">No details found</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                          </div>

                        </div>

                      </td>
                    </ng-container>
                    <!-- DETAIL ROW DEF -->
                    <tr mat-row *matRowDef="let row; when: isExpansionDetailRow; columns: ['expandedDetail'];"
                      class="animRow"></tr>
                    <!-- Row Definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns">
                    </tr>
                  </table>
                  <mat-paginator #paginator [pageSizeOptions]="[5,10, 15, 30]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END DATA TABLE -->
        <div class="card shadow-lg p-4 border-0 bg-white rounded " *ngIf="onshow == true">
          <div class="card-body border rounded px-0 pt-2 pb-3 bg-light"
            style="height: auto; overflow: hidden; position: relative;">
            <div class="mb-3 Fon-family" style="text-align: justify;">
              <form class="p-2" #COMCForm="ngForm" (ngSubmit)="InsertComplianceCertificate1(COMCForm)">
                <div class="row pb-3">
                  <div class="form-group col-md-6 pt-3" style="position: relative;">
                    <label for="inputName">Select License NO<span class="text-danger">*</span></label>
                    <ng-select class="form-control" [items]="license" bindValue="licid" bindLabel="unitname"
                      [(ngModel)]="selectedLicense" name="unitname" (change)="Onselectlicense($event)"
                      [placeholder]="!selectedLicense ? 'Select License NO :' : ''" [searchable]="true"
                      [clearable]="true" appendTo=".form-group" #licid="ngModel" required [ngStyle]="{
                                          'border': licid.invalid && (licid.dirty || licid.touched) ? '1px solid #dc3545' :
                                          licid.valid && (licid.dirty || licid.touched) ? '1px solid #198754' : '',
                                          'box-shadow': licid.invalid && (licid.dirty || licid.touched) ? '0 0 0 0.1rem rgba(220,53,69,0.25)' :
                                          licid.valid && (licid.dirty || licid.touched) ? '0 0 0 0.1rem rgba(25,135,84,0.25)' : ''
                                          }">

                      <ng-template ng-option-tmp let-item="item">
                        {{ item.licid }} - {{ item.unitname }}
                      </ng-template>

                    </ng-select>
                    <div class="text-danger mt-1"
                      *ngIf="(licid.touched || COMCForm.submitted) && licid.errors?.['required']">
                      License NO is required.
                    </div>
                  </div>
                  <div class="form-group col-md-6  pt-3" style="position: relative;">
                    <label for="inputPassword4">Select Compliance Type: <span class="text-danger">*</span></label>
                    <ng-select class="form-control" [items]="MAScomplianceType" bindValue="comid" bindLabel="comname"
                      [(ngModel)]="comname" name="comname" (change)="OnselectlicensecomplianceType($event)"
                      [placeholder]="!comname ? 'Select Compliance Type:' : ''" [searchable]="true" [clearable]="true"
                      appendTo=".form-group" #comid="ngModel" required [ngStyle]="{
                                          'border': comid.invalid && (comid.dirty || comid.touched) ? '1px solid #dc3545' :
                                          comid.valid && (comid.dirty || comid.touched) ? '1px solid #198754' : '',
                                          'box-shadow': comid.invalid && (comid.dirty || comid.touched) ? '0 0 0 0.1rem rgba(220,53,69,0.25)' :
                                          comid.valid && (comid.dirty || comid.touched) ? '0 0 0 0.1rem rgba(25,135,84,0.25)' : ''
                                          }">
                    </ng-select>
                    <div class="text-danger mt-1"
                      *ngIf="(comid.touched || COMCForm.submitted) && comid.errors?.['required']">
                      Compliance Type is required.
                    </div>
                  </div>
                </div>

                <div class="row pb-3">
                  <div class="form-group col-md-6 pt-3">
                    <label for="inputEmail4">Certificate No: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Type your Certificate No:" id="inputEmail4"
                      name="mWHONO" [(ngModel)]="mWHONO" #mWHONOe="ngModel" required [ngClass]="{
                                          'is-invalid': (mWHONOe.touched || COMCForm.submitted) && mWHONOe.invalid,
                                          'is-valid': mWHONOe.valid && (mWHONOe.touched || COMCForm.submitted)
                                        }" />
                    <div class="text-danger mt-1"
                      *ngIf="(mWHONOe.touched || COMCForm.submitted) && mWHONOe.errors?.['required']">
                      Certificate No is required.
                    </div>
                  </div>
                  <div class="form-group col-md-6 pt-3">
                    <!-- <label for="inputAddress">Approved Section: <span -->
                    <label for="inputAddress">Issuing Authority: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Type your Approved Sections" id="inputAddress"
                      name="mRemarks" [(ngModel)]="mRemarks" #mRemarkss="ngModel" required [ngClass]="{
                                          'is-invalid': (mRemarkss.touched || COMCForm.submitted) && mRemarkss.invalid,
                                          'is-valid': mRemarkss.valid && (mRemarkss.touched || COMCForm.submitted)
                                        }" />
                    <div class="text-danger mt-1"
                      *ngIf="(mRemarkss.touched || COMCForm.submitted) && mRemarkss.errors?.['required']">
                      Issuing Authority is required.
                    </div>
                  </div>
                </div>

                <div class="row pb-3">
                  <div class="form-group col-md-6 pt-3">
                    <label for="inputAddress">Issue Date: <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" placeholder="Type your Issue Date" id="inputAddress"
                      name="ISSUEDATE" (change)="validateDates()" [max]="today" [(ngModel)]="ISSUEDATE"
                      #ISSUEDATEee="ngModel" required [ngClass]="{
                                      'is-invalid': (ISSUEDATEee.touched || COMCForm.submitted) && ISSUEDATEee.invalid,
                                      'is-valid': ISSUEDATEee.valid && (ISSUEDATEee.touched || COMCForm.submitted)
                                    }" />
                    <div class="text-danger mt-1"
                      *ngIf="(ISSUEDATEee.touched || COMCForm.submitted) && ISSUEDATEee.errors?.['required']">
                      Issue Date is required.
                    </div>
                  </div>
                  <div class="form-group col-md-6 pt-3">
                    <label for="inputnumber">Start Date: <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" placeholder="Type your Validity Date" id="inputnumber"
                      name="mstartdate" (change)="validateDates()" [(ngModel)]="mstartdate" [max]="today"
                      #mstartdatee="ngModel" required [ngClass]="{
                                          'is-invalid': 
                                             (mEXPDateee.touched || COMCForm.submitted) && (mEXPDateee.invalid || starterrorMsg),
                                  
                                          'is-valid': 
                                          mEXPDateee.valid && (mEXPDateee.touched || COMCForm.submitted) && !starterrorMsg
                                       }" />
                    <div class="text-danger mt-1"
                      *ngIf="(mstartdatee.touched || COMCForm.submitted) && mstartdatee.errors?.['required']">
                      Start Date is required.
                    </div>
                    <div class="text-danger mt-1">
                      <p class="text-danger">{{ starterrorMsg }}</p>
                    </div>
                  </div>



                </div>
                <div class="row pb-3">
                  <div class="form-group col-md-6 pt-3">
                    <label for="inputnumber">Validity Date: <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" placeholder="Type your Validity Date" id="inputnumber"
                      name="mEXPDate" (change)="validateDates()" [(ngModel)]="mEXPDate" #mEXPDateee="ngModel" required
                      [ngClass]="{
                                          'is-invalid': 
                                             (mEXPDateee.touched || COMCForm.submitted) && (mEXPDateee.invalid || validityerrorMsg),
                                  
                                          'is-valid': 
                                          mEXPDateee.valid && (mEXPDateee.touched || COMCForm.submitted) && !validityerrorMsg
                                       }" />
                    <div class="text-danger mt-1"
                      *ngIf="(mEXPDateee.touched || COMCForm.submitted) && mEXPDateee.errors?.['required']">
                      Validity Date is required.
                    </div>
                    <div class="text-danger mt-1">
                      <p class="text-danger">{{ validityerrorMsg }}</p>
                    </div>
                  </div>
                  <div class="form-group col-md-6 pt-3">
                    <label for="inputnumber"> Upload Compliance Certificate: <span class="text-danger">*</span></label>
                    <input type="file" class="form-control" placeholder="Upload Compliance Certificate" accept=".pdf"
                      id="inputnumber" name="files" (change)="onFileSelectedCertificate($event)" required
                      #files="ngModel" ngModel [ngClass]="{
                                          'is-invalid': (files.touched || COMCForm.submitted) && files.invalid,
                                          'is-valid': files.valid && (files.touched || COMCForm.submitted)
                                        }">
                    <div class="text-danger mt-1"
                      *ngIf="(files.touched || COMCForm.submitted) && files.errors?.['required']">
                      File upload is required.
                    </div>
                  </div>

                </div>
                <div class="row pb-3">
                  <div class="form-group col-md-6 pt-3" style="position: relative;">
                    <label for="inputnumber">Select multiple Item Type: <span class="text-danger">*</span></label>

                    <div class="select-wrapper" style="position: relative;">
                      <ng-select class="form-control" [items]="masitemtypes" bindLabel="itemtypename"
                        bindValue="itemtypeid" [(ngModel)]="selecteditemtypeid" name="selecteditemtypeid"
                        [multiple]="true" [closeOnSelect]="false" [hideSelected]="false" [clearable]="true"
                        [searchable]="true" appendTo=".form-group"
                        [placeholder]="selecteditemtypeid?.length ? '' : 'Select Item Types...'" #itemtypeidss="ngModel"
                        required [ngStyle]="{
                                    'border': itemtypeidss.invalid && (itemtypeidss.dirty || itemtypeidss.touched) ? '1px solid #dc3545' :
                                              itemtypeidss.valid && (itemtypeidss.dirty || itemtypeidss.touched) ? '1px solid #198754' : '',
                                    'box-shadow': itemtypeidss.invalid && (itemtypeidss.dirty || itemtypeidss.touched) ? '0 0 0 0.1rem rgba(220,53,69,0.25)' :
                                                  itemtypeidss.valid && (itemtypeidss.dirty || itemtypeidss.touched) ? '0 0 0 0.1rem rgba(25,135,84,0.25)' : ''
                                  }">

                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <input type="checkbox" [checked]="selecteditemtypeid?.includes(item.itemtypeid)"
                            (click)="$event.stopPropagation()" (change)="onCheckboxChange(item)"
                            style="margin-right: 8px;" />
                          {{ item.itemtypename }}
                        </ng-template>

                      </ng-select>
                      <div class="text-danger mt-1"
                        *ngIf="(itemtypeidss.touched || COMCForm.submitted) && itemtypeidss.errors?.['required']">
                        Your selection is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center mt-3">
                  <button type="submit" class="btn btn-primary m-3" [disabled]="COMCForm.invalid">Save</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade custom-transparent-modal" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content border-0 shadow-none">
      <div class="modal-header bg-dark text-white py-2 px-3">
        <h5 class="modal-title" id="pdfModalLabel">PDF Preview</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <iframe [src]="sanitizedPdfUrl" class="pdf-frame" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>