<div class="container-fluid mt-5 p-4 shadow border rounded bg-light py-3 px-3">
  <h4 class="d-flex justify-content-between align-items-center border-bottom p-2" (click)="isCollapsed = !isCollapsed"
    role="button" aria-expanded="false" aria-controls="collapseExample" style="color:blue">
     UNIT
    <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
  </h4>
  <div [collapse]="isCollapsed">



    <form [formGroup]="unitForm" (ngSubmit)="onSubmit()">
      <div class="row text-start ">

        <!-- Licence Type -->
        <div class="col-md-6 mb-3 ">
          <label class="form-label fw-bold">Licence Type<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="licenceTypes" bindLabel="lictypename" bindValue="lictypeid"
            formControlName="mlictypeid" [placeholder]="unitForm.get('mlictypeid')?.value ? '' : 'Choose Licence Type'"
            [searchable]="true" [clearable]="true" [appendTo]="'body'">
          </ng-select>
        </div>

        <!-- State -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">State<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="states" bindLabel="statename" bindValue="stateid"
            formControlName="mStateId" [placeholder]="unitForm.get('mStateId')?.value ? '': 'Choose State' "
            [searchable]="true" [clearable]="true" [appendTo]="'body'">
          </ng-select>
        </div>

        <!-- Unit Name -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Unit Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="mUNITNAME">
        </div>

        <!-- Address -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Address<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="mUNITAddress">
        </div>

        <!-- City -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">City<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="mCity">
        </div>

        <!-- Incharge Name -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Incharge Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="mUNITINCHARGENAME">
        </div>

        <!-- Mobile -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Mobile<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="mUNITINCHARGEMOB">
        </div>

        <!-- Email -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Email<span class="text-danger">*</span></label>
          <input type="email" class="form-control" formControlName="mUNITINCHARGEEMAIL">
        </div>

        <!-- Submit -->
        <div class="text-center mt-4 mb-1">
          <button type="submit" class="btn btn-primary px-4" [disabled]="!unitForm.valid">
            Submit
          </button>
        </div>
      </div>
    </form>



    <div class="card shadow rounded bg-light mx-auto mt-5">
      <!-- <div class="card-header bg-info text-white">
    <h4 class="text-center mb-0">Manufacturing Details</h4>
  </div> -->
      <div class="card-body p-3">
        <div class="table-container">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="filter-field flex-grow-1">
              <input type="text" class="form-control form-control-sm" placeholder="Filter"
                (keyup)="applyTextFilter($event)">
            </div>
            <div class="export-menu-container ms-2">
              <button mat-button [matMenuTriggerFor]="exportMenu" class="btn btn-sm btn-secondary">Export</button>
              <mat-menu #exportMenu="matMenu">
                <button mat-menu-item
                  (click)="exporter.exportTable('xlsx', { fileName: 'manufacturingList', sheet: 'manufacturingList', Props: { Author: 'cgmsc' }})">Excel</button>
                <button mat-menu-item (click)="exportToPDF()">PDF</button>
              </mat-menu>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matTableExporter
              class="table table-bordered table-hover table-sm align-middle" #exporter="matTableExporter">
              <!-- S.No Column -->
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef style="width: 50px;"> S.No </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                <td mat-footer-cell *matFooterCellDef> - </td>
              </ng-container>
              <ng-container matColumnDef="unitname">
                <th mat-header-cell *matHeaderCellDef> Name of Unit </th>
                <td mat-cell *matCellDef="let row"> {{ row.unitname }} </td>
              </ng-container>

              <ng-container matColumnDef="unitaddress">
                <th mat-header-cell *matHeaderCellDef> Address of Unit </th>
                <td mat-cell *matCellDef="let row"> {{ row.unitaddress }} </td>
              </ng-container>

              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let row"> {{ row.city }} </td>
              </ng-container>

              <ng-container matColumnDef="unitinchargename">
                <th mat-header-cell *matHeaderCellDef> Incharge Name </th>
                <td mat-cell *matCellDef="let row"> {{ row.unitinchargename }} </td>
              </ng-container>

              <ng-container matColumnDef="unitinchargemob">
                <th mat-header-cell *matHeaderCellDef> Mobile </th>
                <td mat-cell *matCellDef="let row"> {{ row.unitinchargemob }} </td>
              </ng-container>

              <ng-container matColumnDef="unitinchargeemail">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let row"> {{ row.unitinchargeemail }} </td>
              </ng-container>

              <ng-container matColumnDef="statename">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let row"> {{ row.statename }} </td>
              </ng-container>

              <ng-container matColumnDef="lictypename">
                <th mat-header-cell *matHeaderCellDef> Licence Type </th>
                <td mat-cell *matCellDef="let row"> {{ row.lictypename }} </td>
              </ng-container>

              <tr mat-header-row
                *matHeaderRowDef="['sno','unitname','unitaddress','city','unitinchargename','unitinchargemob','unitinchargeemail','statename','lictypename']">
              </tr>
              <tr mat-row
                *matRowDef="let row; columns: ['sno','unitname','unitaddress','city','unitinchargename','unitinchargemob','unitinchargeemail','statename','lictypename'];">
              </tr>
            </table>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>





<!-- LIcence page -->


<div class="container-fluid mt-5 p-4 shadow border rounded bg-light py-3 px-3">
  <h4 class="d-flex justify-content-between align-items-center border-bottom p-2" (click)="isCollapsed1 = !isCollapsed1"
    role="button" aria-expanded="false" aria-controls="collapseExample" style="color:blue">
     LICENCES
    <i class="bi" [ngClass]="isCollapsed1 ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
  </h4>
  <div [collapse]="isCollapsed1">



    <form [formGroup]="licForm" (ngSubmit)="onSubmitLicence()">
      <div class="row text-start ">
        <!-- Unit -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Unit<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="unitList" bindLabel="unitname" bindValue="unitid"
            formControlName="mUNITID" [placeholder]="licForm.get('mUNITID')?.value ? '' : 'Select Unit'"
            [searchable]="true" [clearable]="true" [appendTo]="'body'">
          </ng-select>
        </div>

        <!-- Form Type -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Form Type<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="formList" bindLabel="formname" bindValue="formid"
            formControlName="mFORMID" [placeholder]="licForm.get('mFORMID')?.value ? '' : 'Select Form Type'"
            [searchable]="true" [clearable]="true" [appendTo]="'body'">
          </ng-select>
        </div>

        <!-- Licence Type -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Licence Type<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="licenceTypes" bindLabel="lictypename" bindValue="lictypeid"
            formControlName="mLICTYPEID" [placeholder]="licForm.get('mLICTYPEID')?.value ? '' : 'Select Licence Type'"
            [searchable]="true" [clearable]="true" [appendTo]="'body'">
          </ng-select>
        </div>

        <!-- Licence No -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Licence No<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Enter Licence Number" formControlName="mLICNO">
        </div>

        <!-- Issue Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Issue Date<span class="text-danger">*</span></label>
          <input type="date" class="form-control" formControlName="mISSUEDATE">
        </div>

        <!-- Start Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Start Date<span class="text-danger">*</span></label>
          <input type="date" class="form-control" formControlName="mStartDate">
        </div>

        <!-- Validity Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">End Date<span class="text-danger">*</span></label>
          <input type="date" class="form-control" formControlName="mVALIDITYDATE">
        </div>

        <!--Upload Licence-->



        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Upload Licence<span class="text-danger">*</span></label>
          <input type="file" class="form-control" accept=".jpg,.jpeg,.png,.pdf" (change)="onFileSelected($event)">
        </div>


        <!-- Submit -->
        <div class="col-12 text-center mt-3 mb-1 ">
          <button type="submit" class="btn btn-primary px-4" [disabled]="!licForm.valid">
            Submit
          </button>
        </div>
      </div>
    </form>





    <div class="card shadow rounded bg-light mx-auto mt-5">
      <div class="card-body p-3">
        <div class="table-container">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="filter-field flex-grow-1">
              <input type="text" class="form-control form-control-sm" placeholder="Filter"
                (keyup)="applyTextFilterManLic($event)" />
            </div>
            <div class="export-menu-container ms-2">
              <button mat-button [matMenuTriggerFor]="exportMenuLic" class="btn btn-sm btn-secondary">
                Export
              </button>
              <mat-menu #exportMenuLic="matMenu">
                <button mat-menu-item (click)="exporter.exportTable('xlsx', {
                fileName: 'manufacturingLicenceList',
                sheet: 'manufacturingLicenceList',
                Props: { Author: 'cgmsc' }
              })">
                  Excel
                </button>
                <button mat-menu-item (click)="exportToPDFManufacturingLic()">PDF</button>
              </mat-menu>
            </div>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource2" matTableExporter
              class="table table-bordered table-hover table-sm align-middle" #exporter="matTableExporter" matSort
              #sort1="matSort">
              <!-- S.No -->
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef style="width: 60px;">S.No</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>

              <!-- Licence No -->
              <ng-container matColumnDef="licno">
                <th mat-header-cell *matHeaderCellDef>Licence No</th>
                <td mat-cell *matCellDef="let row">{{ row.licno }}</td>
              </ng-container>

              <!-- Unit Name -->
              <ng-container matColumnDef="unitname">
                <th mat-header-cell *matHeaderCellDef>Unit Name</th>
                <td mat-cell *matCellDef="let row">{{ row.unitname }}</td>
              </ng-container>

              <!-- Unit Address -->
              <ng-container matColumnDef="unitaddress">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let row">{{ row.unitaddress }}</td>
              </ng-container>

              <!-- City -->
              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef>City</th>
                <td mat-cell *matCellDef="let row">{{ row.city }}</td>
              </ng-container>

              <!-- Incharge Name -->
              <ng-container matColumnDef="unitinchargename">
                <th mat-header-cell *matHeaderCellDef>Incharge Name</th>
                <td mat-cell *matCellDef="let row">{{ row.unitinchargename }}</td>
              </ng-container>

              <!-- Incharge Mobile -->
              <ng-container matColumnDef="unitinchargemob">
                <th mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let row">{{ row.unitinchargemob }}</td>
              </ng-container>

              <!-- Incharge Email -->
              <ng-container matColumnDef="unitinchargeemail">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let row">{{ row.unitinchargeemail }}</td>
              </ng-container>

              <!-- Issue Date -->
              <ng-container matColumnDef="issuedate">
                <th mat-header-cell *matHeaderCellDef>Issue Date</th>
                <td mat-cell *matCellDef="let row">{{ row.issuedate }}</td>
              </ng-container>

              <!-- Validity Date -->
              <ng-container matColumnDef="validitydate">
                <th mat-header-cell *matHeaderCellDef>Validity Date</th>
                <td mat-cell *matCellDef="let row">{{ row.validitydate }}</td>
              </ng-container>

              <!-- Licence Type -->
              <ng-container matColumnDef="lictypename">
                <th mat-header-cell *matHeaderCellDef>Licence Type</th>
                <td mat-cell *matCellDef="let row">{{ row.lictypename }}</td>
              </ng-container>

              <!-- State -->
              <ng-container matColumnDef="statename">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let row">{{ row.statename }}</td>
              </ng-container>

              <!-- Entry Date -->
              <ng-container matColumnDef="entrydate">
                <th mat-header-cell *matHeaderCellDef>Entry Date</th>
                <td mat-cell *matCellDef="let row">{{ row.entrydate }}</td>
              </ng-container>

              <!-- File Name -->
              <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef>File</th>
                <td mat-cell *matCellDef="let row">
                  <button *ngIf="row.filename" class="btn btn-link text-decoration-none text-primary p-0"
                    (click)="downloadFile(row)">
                    {{ row.filename }}
                  </button>
                </td>
              </ng-container>


              <!-- Header & Row Definition -->
              <tr mat-header-row *matHeaderRowDef="[
              'sno',
              'licno',
              'unitname',
              'unitaddress',
              'city',
              'unitinchargename',
              'unitinchargemob',
              'unitinchargeemail',
              'issuedate',
              'validitydate',
              'lictypename',
              'statename',
              'entrydate',
              'filename'
            ]"></tr>

              <tr mat-row *matRowDef="let row; columns: [
              'sno',
              'licno',
              'unitname',
              'unitaddress',
              'city',
              'unitinchargename',
              'unitinchargemob',
              'unitinchargeemail',
              'issuedate',
              'validitydate',
              'lictypename',
              'statename',
              'entrydate',
              'filename'
            ]"></tr>
            </table>
          </div>

          <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>




  </div>
</div>


<!-- Retention page -->



<div class="container-fluid mt-5 p-4 shadow border rounded bg-light py-3 px-3">
  <h4 class="d-flex justify-content-between align-items-center border-bottom p-2" (click)="isCollapsed2 = !isCollapsed2"
    role="button" aria-expanded="false" aria-controls="collapseExample" style="color:blue">
    RETENTION/RENEWEVALS
    <i class="bi" [ngClass]="isCollapsed2 ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
  </h4>
  <div [collapse]="isCollapsed2">



    <form [formGroup]="retForm" (ngSubmit)="onSubmitRetention()">
      <div class="row text-start ">
        <!-- Unit -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Licence<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="ManLicDdllist" bindLabel="manfacname" bindValue="licid"
            formControlName="mLICID" [placeholder]="retForm.get('mLICID')?.value ? '' : 'Select Licence'"
            [searchable]="true" [clearable]="true" [appendTo]="'body'">
          </ng-select>
        </div>

     

        <!-- Retention Type -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Retention Type<span class="text-danger">*</span></label>
          <ng-select class="form-select w-auto" [items]="masRetentionDDL" bindLabel="retname" bindValue="retid"
            formControlName="mretid" [placeholder]="retForm.get('mretid')?.value ? '' : 'Select Retention Type'"
            [searchable]="true" [clearable]="true" [appendTo]="'body'"(change)="onRetentionChange($event)">
          </ng-select>
        </div>

           <!-- Form Type -->
           <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Form Type<span class="text-danger">*</span></label>
            <ng-select class="form-select w-auto" [items]="filteredFormList" bindLabel="formname" bindValue="formid"
              formControlName="mFormID" [placeholder]="retForm.get('mFormID')?.value ? '' : 'Select Form Type'"
              [searchable]="true" [clearable]="true" [appendTo]="'body'">
            </ng-select>
          </div>
     

        <!-- Issue Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Issue Date<span class="text-danger">*</span></label>
          <input type="date" class="form-control" formControlName="mISSUEDATE">
        </div>

        <!-- Start Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Start Date<span class="text-danger">*</span></label>
          <input type="date" class="form-control" formControlName="mStartDate">
        </div>

        <!-- Validity Date -->
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Valid upto<span class="text-danger">*</span></label>
          <input type="date" class="form-control" formControlName="mVALIDITYDATE">
        </div>

        <!--Upload Licence-->



        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Upload File<span class="text-danger">*</span></label>
          <input type="file" class="form-control" accept=".jpg,.jpeg,.png,.pdf" (change)="onFileSelectedRetention($event)">
        </div>


        <!-- Submit -->
        <div class="col-12 text-center mt-3 mb-1 ">
          <button type="submit" class="btn btn-primary px-4" [disabled]="!retForm.valid">
            Submit
          </button>
        </div>
      </div>
    </form>





    <div class="card shadow rounded bg-light mx-auto mt-5">
      <div class="card-body p-3">
        <div class="table-container">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="filter-field flex-grow-1">
              <input type="text" class="form-control form-control-sm" placeholder="Filter"
                (keyup)="applyTextFilterRet($event)" />
            </div>
            <div class="export-menu-container ms-2">
              <button mat-button [matMenuTriggerFor]="exportMenuRet" class="btn btn-sm btn-secondary">
                Export
              </button>
              <mat-menu #exportMenuRet="matMenu">
                <button mat-menu-item (click)="exporter.exportTable('xlsx', {
                fileName: 'RetentionList',
                sheet: 'RetentionList',
                Props: { Author: 'cgmsc' }
              })">
                  Excel
                </button>
                <button mat-menu-item (click)="exportToPDFRetention()">PDF</button>
              </mat-menu>
            </div>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource3" matTableExporter
              class="table table-bordered table-hover table-sm align-middle" #exporter="matTableExporter" matSort
              #sort3="matSort">
                <!-- S.No -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef style="width: 60px;">S.No</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Licence No -->
    <ng-container matColumnDef="licno">
      <th mat-header-cell *matHeaderCellDef>Licence No</th>
      <td mat-cell *matCellDef="let row">{{ row.licno }}</td>
    </ng-container>

    <!-- Unit Name -->
    <ng-container matColumnDef="unitname">
      <th mat-header-cell *matHeaderCellDef>Unit Name</th>
      <td mat-cell *matCellDef="let row">{{ row.unitname }}</td>
    </ng-container>

    <!-- Issue Date -->
    <ng-container matColumnDef="issuedate">
      <th mat-header-cell *matHeaderCellDef>Issue Date</th>
      <td mat-cell *matCellDef="let row">{{ row.issuedate }}</td>
    </ng-container>

    <!-- Start Date -->
    <ng-container matColumnDef="startdate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let row">{{ row.startdate }}</td>
    </ng-container>

    <!-- Expiry Date -->
    <ng-container matColumnDef="expdate">
      <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
      <td mat-cell *matCellDef="let row">{{ row.expdate }}</td>
    </ng-container>

    <!-- Retention Name -->
    <ng-container matColumnDef="retname">
      <th mat-header-cell *matHeaderCellDef>Retention</th>
      <td mat-cell *matCellDef="let row">{{ row.retname }}</td>
    </ng-container>

    <!-- Form Name -->
    <ng-container matColumnDef="formname">
      <th mat-header-cell *matHeaderCellDef>Form Name</th>
      <td mat-cell *matCellDef="let row">{{ row.formname }}</td>
    </ng-container>

    <!-- Licence Type -->
    <ng-container matColumnDef="lictypename">
      <th mat-header-cell *matHeaderCellDef>Licence Type</th>
      <td mat-cell *matCellDef="let row">{{ row.lictypename }}</td>
    </ng-container>

    <!-- File Name -->
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef>File</th>
      <td mat-cell *matCellDef="let row">
        <button
          *ngIf="row.filename"
          class="btn btn-link text-decoration-none text-primary p-0"
          (click)="downloadFile(row)"
        >
          {{ row.filename }}
        </button>
      </td>
    </ng-container>


              <!-- Header & Row Definition -->
              <tr mat-header-row *matHeaderRowDef="[
              'sno',
  'licno',
  'unitname',
  'issuedate',
  'startdate',
  'expdate',
  'retname',
  'formname',
  'lictypename',
  'filename'
            ]"></tr>

              <tr mat-row *matRowDef="let row; columns: [
              'sno',
  'licno',
  'unitname',
  'issuedate',
  'startdate',
  'expdate',
  'retname',
  'formname',
  'lictypename',
  'filename'
            ]"></tr>
            </table>
          </div>
          <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

