
<!-- <title>Vendor Registration</title> -->
<div class="container mt-5">
  <div class="card p-4">
    <h4 class="text-center mb-4 fw-bold">Vendor Registration</h4>

    <!-- Generate Button -->
    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-success"  *ngIf="showButtons"  (click)="generate()">
        <i class="bi bi-plus-circle"></i> Generate
      </button>
    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-bordered align-middle">
        <thead>
          <tr>
            <th>Registration No</th>
            <th>Registration Date</th>
            <th>Status</th>
            <!-- <th>Download</th> -->
            <th>Approved Status</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vendor of vendorDetails">
            <td>{{ vendor.vregno }}</td>
            <td>{{ vendor.regdate }}</td>
            <td (click)="onClick(vendor.status)">
              <span 
                [ngClass]="{
                  'status-complete': vendor.status === 'Complete',
                  'status-incomplete': vendor.status === 'Incomplete'
                }">
                {{ vendor.status }}
              </span>
            </td>
            <!-- <td>{{ vendor.regdate }}</td> -->
            <td>-</td>
            <!-- <td><span class="approved-status">Approved</span></td> -->
            <!-- <td><a routerLink="/Approved" style="cursor:pointer;color:blue;">Approved</a></td> -->
            <!-- <td><a routerLink="/Approved" style="cursor:pointer;color:blue;">Approved</a></td> -->

            

            <!-- <td><span class="delete-link" (click)="deleteVendor(vendor)">Delete</span></td> -->
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>


