<section class="container-fluid">
    <title>Vendor Registration</title>
 <div class="container-fluid py-3 px-3">
    <div class="card">
      <h4 class="text-center mb-4 fw-bold">Vendor Registration Completed</h4>
      

      <div class="table-responsive">
        <table class="align-middle table table-bordered table-striped border rounded">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Registration No</th>
              <th>Registration Date</th>
             
              <th>Supplier </th>
              <th>PAN  No</th>
              <th>Mobile</th>
              <th>Authorized Representative Name</th>
              <th>Authorized Representative Mobile No</th>
              <th>Authorized Representative Email</th>
              <th>Authorized Signatory Name</th>
              <th>Authorized Signatory Mobile No</th>
              <th>Authorized Signatory Email</th>
              <th>Status</th>
              <th>Approved Status</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>1</td>
              <td>234</td>
              <td>2-3-2025</td>
              
              <td>Wings</td>
              <td>67</td>
              <td>7869786765</td>
              <td>xyz</td>
              <td>787678678</td>
              <td>exakdfgmail.com</td>
            
              <td>
                <!-- <a routerLink="/VendorRegistrationApproved" class="approved-link text-warning">
                  Pending
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>



    </div>
  </div> 

</section>
