<div class="card shadow">
  <div class="card-body">
    <div class="w-100">
      <!--#e2e3e5 style="background-color:#858681"-->
      <h3 class="bold text-light bg-dark">Alloted Running Works </h3>
    </div>
    <!-- <div *ngIf="showw"> -->
    <div class="row"  *ngIf="showw">
      <div class="col-12 col-md-11 p-1">
        <div class="button-container">
          <h3 class="division-label align-items-center pt-2 text-align bold">Choose Division:</h3>
          <button class="btn btn-sm align-items-center btn-outline-secondary btn-secondary bold text-light"
            *ngFor="let division of divisions" [ngClass]="{'active-button': selectedDivision === division.id}"
            [ngStyle]="{'background-color': division.color}" (click)="selectDivision(division)">
            {{ division.name }}
          </button>
          <!-- <h2 class="align-items-center division-label bold text-end" >{{ name }}Division</h2> -->
          <h2 class="align-items-center division-label bold text-end" *ngIf="visibale">{{ name }}Division</h2>
        </div>
      </div>
    </div>
    <div class="container-fluid  p-2" >
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-2 border rounded">
        <!-- <div class="col-lg-6 col-md-6 mb-2 border rounded" *ngIf="SbuEngAllotedWorks.length > 0"> -->
          <div class="chart-container">
            <apx-chart *ngIf="chartOptionsLine.series.length > 0" [series]="chartOptionsLine.series" [chart]="chartOptionsLine.chart"
              [dataLabels]="chartOptionsLine.dataLabels" [plotOptions]="chartOptionsLine.plotOptions"
              [xaxis]="chartOptionsLine.xaxis" [stroke]="chartOptionsLine.stroke" [fill]="chartOptionsLine.fill"
              [yaxis]="chartOptionsLine.yaxis" [title]="chartOptionsLine.title" [tooltip]="chartOptionsLine.tooltip"
              [legend]="chartOptionsLine.legend"></apx-chart>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-2 border rounded">
        <!-- <div class="col-lg-6 col-md-6 mb-2 border rounded" *ngIf="AeengAllotedWorks.length > 0"> -->
          <div class="chart-container">
            <apx-chart *ngIf="chartOptionsLine2.series.length > 0" [series]="chartOptionsLine2.series" [chart]="chartOptionsLine2.chart"
              [dataLabels]="chartOptionsLine2.dataLabels" [plotOptions]="chartOptionsLine2.plotOptions"
              [xaxis]="chartOptionsLine2.xaxis" [stroke]="chartOptionsLine2.stroke" [fill]="chartOptionsLine2.fill"
              [yaxis]="chartOptionsLine2.yaxis" [title]="chartOptionsLine2.title" [tooltip]="chartOptionsLine2.tooltip"
              [legend]="chartOptionsLine2.legend"></apx-chart>
          </div>

        </div>



      </div>

    </div>
  <!-- </div> -->
    <!-- sbueng -->
    <div class="">
      <div class="w-100 ">
        <!--#e2e3e5 style="background-color:#858681" *ngIf="sbuDistrictEngAllotedWorks.length > 0"-->
        <h3 class="bold text-light bg-dark">District Sub Engineer Alloted Works</h3>
      </div>
      <div class="row card shadow card-body mt-3" >
        <div class="d-flex justify-content-between align-items-center mb-0">
          <div class="filter-field flex-grow-1">
            <input type="text" class="form-control" placeholder="Filter" (keyup)="SapplyTextFilter($event)">
          </div>
          <div class="export-menu-container">
            <button class="btn  btn-outline-secondary" mat-button [matMenuTriggerFor]="exportMenu">Export</button>
            <mat-menu #exportMenu="matMenu">
              <button mat-menu-item
                (click)="exporter.exportTable('xlsx', { fileName: 'DistrictSEAllotedW', sheet: 'DistrictSEAllotedW', Props: { Author: 'cgmsc' }})">Excel</button>
              <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
              <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
              <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
              <button mat-menu-item (click)="SexportToPDF()">PDF</button>
            </mat-menu>
          </div>
        </div>
        <div class="table-responsive ">
          <table class="table table-bordered table-striped border rounded" mat-table matTableExporter
            [dataSource]="dataSource1" #exporter="matTableExporter" matSort #sort2="matSort">
    
            <!-- Serial Number Column -->
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
              <td mat-cell *matCellDef="let element"  > {{ element.sno }} </td>
            </ng-container>
    
            <!-- nocnumber Column style="text-align: right;" -->
            <ng-container matColumnDef="engName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Engineer </th>
              <td mat-cell *matCellDef="let element"  style="text-align: left;"> {{ element.engName }} </td>
            </ng-container>
            <ng-container matColumnDef="empid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>EmpId </th>
              <td mat-cell *matCellDef="let element"  style="text-align: left;"> {{ element.empid }} </td>
            </ng-container>
    
            <!-- warehousename Column -->
            <ng-container matColumnDef="districtName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>District </th>
              <td mat-cell *matCellDef="let element"  style="text-align: left;"> {{ element.districtName }} </td>
            </ng-container>
    
            <!-- facilityname Column -->
            <ng-container matColumnDef="totalWorks">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alloted Works </th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.totalWorks }} </td>
            </ng-container>
    
            <!-- nositems Column -->
            <ng-container matColumnDef="tvcValuecr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Value (in cr) </th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;"> {{ element.tvcValuecr }} </td>
            </ng-container>
    
            <!-- inddt Column -->
            <ng-container matColumnDef="running">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Running Works </th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.running }} </td>
            </ng-container>
    
            <!-- pendingday Column -->
            <ng-container matColumnDef="woIssue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order Issued</th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.woIssue }} </td>
            </ng-container>
            <ng-container matColumnDef="ladissue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Land Issue</th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.ladissue }} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="districtID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>DistrictID</th>
              <td mat-cell *matCellDef="let element"> {{ element.districtID }} </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container> -->
            <!-- Header Row -->
            <tr mat-header-row
              *matHeaderRowDef="[ 'sno','engName','empid','districtName','totalWorks','tvcValuecr', 'running','woIssue','ladissue' ]">
            </tr>
    
            <!-- Data Rows -->
            <tr mat-row
              *matRowDef="let row; columns: [ 'sno','engName','empid','districtName','totalWorks','tvcValuecr','running','woIssue','ladissue']">
            </tr>
    
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator> -->
          <mat-paginator #paginatorPageSize [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
    <div class="mt-1">
    
      <div class="w-100 mt-2" style="background-color:#050382">
        <!--#e2e3e5 *ngIf="AEDistrictEngAllotedWorks.length > 0"-->
        <h3 class="bold text-light">District Assistant Engineer Alloted Works </h3>
      </div>
    
      <div class="row card shadow card-body" >
        <div class="d-flex justify-content-between align-items-center mb-0">
          <div class="filter-field flex-grow-1">
            <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFilter($event)">
          </div>
          <div class="export-menu-container">
            <button class="btn  btn-outline-secondary" mat-button [matMenuTriggerFor]="exportMenu">Export</button>
            <mat-menu #exportMenu="matMenu">
              <button mat-menu-item
                (click)="exporter.exportTable('xlsx', { fileName: 'DistrictAEAllotedW', sheet: 'DistrictAEAllotedW', Props: { Author: 'cgmsc' }})">Excel</button>
              <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
              <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
              <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
              <button mat-menu-item (click)="exportToPDF()">PDF</button>
            </mat-menu>
          </div>
        </div>
        <div class="table-responsive ">
          <table class="table table-bordered table-striped border rounded" mat-table matTableExporter
            [dataSource]="dataSource" #exporter="matTableExporter" matSort #sort1="matSort">
    
            <!-- Serial Number Column -->
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
              <td mat-cell *matCellDef="let element"> {{ element.sno }} </td>
            </ng-container>
    
            <!-- nocnumber Column -->
            <ng-container matColumnDef="engName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ass. Engineer </th>
              <td mat-cell *matCellDef="let element" > {{ element.engName }} </td>
            </ng-container>
            <ng-container matColumnDef="empid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>EmpId </th>
              <td mat-cell *matCellDef="let element"> {{ element.empid }} </td>
            </ng-container>
    
            <!-- warehousename Column -->
            <ng-container matColumnDef="districtName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>District </th>
              <td mat-cell *matCellDef="let element"> {{ element.districtName }} </td>
            </ng-container>
    
            <!-- facilityname Column -->
            <ng-container matColumnDef="totalWorks">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Alloted Works </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;"> {{ element.totalWorks }} </td>
            </ng-container>
    
            <!-- nositems Column -->
            <ng-container matColumnDef="tvcValuecr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Value (in cr) </th>
              <td mat-cell *matCellDef="let element"  style="text-align: center;"> {{ element.tvcValuecr }} </td>
            </ng-container>
    
            <!-- inddt Column -->
            <ng-container matColumnDef="running">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Running Works </th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.running }} </td>
            </ng-container>
    
            <!-- pendingday Column -->
            <ng-container matColumnDef="woIssue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order Issued</th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.woIssue }} </td>
            </ng-container>
            <ng-container matColumnDef="ladissue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Land Issue</th>
              <td mat-cell *matCellDef="let element"  style="text-align: right;"> {{ element.ladissue }} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="districtID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>DistrictID</th>
              <td mat-cell *matCellDef="let element"> {{ element.districtID }} </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container> -->
            <!-- Header Row -->
            <tr mat-header-row
              *matHeaderRowDef="[ 'sno','engName','empid','districtName','totalWorks','tvcValuecr', 'running','woIssue','ladissue']">
            </tr>
    
            <!-- Data Rows -->
            <tr mat-row
              *matRowDef="let row; columns: [ 'sno','engName','empid','districtName','totalWorks','tvcValuecr','running','woIssue','ladissue' ]">
            </tr>
    
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template class=" " #itemDetailsModal let-modal>
  <div class="row align-items-center p-2 m-2 ">
    <div class="col-lg-6 col-md-8">
      <!-- <h1>Allotted Works Sub Engineer Details</h1><h1 class="align-items-center bold">{{empname}}</h1> -->
      <h1>Allotted Works Engineer Details</h1>
      <h1 class="align-items-center bold">{{empname}}</h1>
    </div>
    <div class="col-lg-6 col-md-4 text-end">
      <button type="button" class="btn-close" mat-button mat-dialog-close aria-label="Close"></button>
    </div>
  </div>
  <div class="" mat-dialog-content>
    <div class="row card shadow card-body ">
      <div class="d-flex justify-content-between align-items-center mb-0">
        <div class="filter-field flex-grow-1">
          <input type="text" class="form-control" placeholder="Filter" (keyup)="subAEapplyTextFilter($event)">
        </div>
        <div class="export-menu-container">
          <button class="btn  btn-outline-secondary" mat-button [matMenuTriggerFor]="exportMenu">Export</button>
          <mat-menu #exportMenu="matMenu">
            <button mat-menu-item
              (click)="exporter.exportTable('xlsx', { fileName: 'AWorksEngineerDetails', sheet: 'AWorksEngineerDetails', Props: { Author: 'cgmsc' }})">Excel</button>
            <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
            <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
            <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
            <button mat-menu-item (click)="subAEexportToPDF()">PDF</button>
          </mat-menu>
        </div>
      </div>

      <div class="table-responsive ">
        <table class="table table-bordered table-striped border rounded " mat-table matTableExporter
          [dataSource]="dataSource3" #exporter="matTableExporter" matSort #sort="matSort"  >

          <!-- Serial Number Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>S.NO</th>
            <td mat-cell *matCellDef="let element" > {{ element.sno}} </td>
          </ng-container>
          <ng-container matColumnDef="head">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Head</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.head }} </td>
          </ng-container>
          <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.district }} </td>
          </ng-container>
          <ng-container matColumnDef="blockname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Block</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.blockname }} </td>
          </ng-container>
          <ng-container matColumnDef="letterNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LetterNo</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.letterNo }} </td>
          </ng-container>
       
          <ng-container matColumnDef="approver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aapprover</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.approver }} </td>
          </ng-container>
          <ng-container matColumnDef="totalAmountOfContract">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Value(In Lacs)</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.totalAmountOfContract }} </td>
          </ng-container>
          <ng-container matColumnDef="aaDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AS Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.aaDate }} </td>
          </ng-container>
          <ng-container matColumnDef="aaamt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AS Amount(in Lacs)</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.aaamt }} </td>
          </ng-container>
          <ng-container matColumnDef="tsDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.tsDate }} </td>
          </ng-container>
          <ng-container matColumnDef="tsamt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS Amount(in Lacs)</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.tsamt }} </td>
          </ng-container>
          <ng-container matColumnDef="work">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.work }} </td>
          </ng-container>
          <ng-container matColumnDef="contractorNAme">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.contractorNAme }} </td>
          </ng-container>
          <ng-container matColumnDef="mobNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.mobNo }} </td>
          </ng-container>
         
          <ng-container matColumnDef="work_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work ID</th>
            <td mat-cell *matCellDef="let element" style="text-align: left;"> {{ element.work_id }} </td>
          </ng-container>
          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
          <!-- Header Row -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Download AS</th>
            <td mat-cell *matCellDef="let element">
              <span class="d-flex  flex-row-reverse p-2 ">
                 <button class="btn btn-light btn-sm btn-outline-secondary align-items-center border rounded" mat-button
                  (click)="onButtonClick2(0,element.work_id)">
                  <i class="bi bi-file-earmark-pdf me-0 bg-danger"></i>
                </button>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row
            *matHeaderRowDef="['sno', 'head','district','blockname','letterNo','approver','totalAmountOfContract','work','aaDate','aaamt','tsDate','tsamt','contractorNAme','mobNo','work_id','action']">
          </tr>

          <!-- Data Rows -->
          <tr mat-row
            *matRowDef="let row; columns: ['sno','head','district','blockname','letterNo','approver','totalAmountOfContract','work','aaDate','aaamt','tsDate','tsamt','contractorNAme','mobNo','work_id','action']">
          </tr>
        </table>
        <mat-paginator #paginator1 [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>

      </div>
    </div>


  </div>
  <div class="d-grid gap-2 col-12 mx-auto footer mt-2 p-2">
    <button mat-button mat-dialog-close  type="button" class="btn btn-info btn-lg" >
      <!-- mat-card-avatar  mat-card-avatar -->
      <mat-icon role="img" class="mat-icon notranslate  material-icons mat-icon-no-color" aria-hidden="true">
        exit_to_app
      </mat-icon>
    </button>
  </div>
</ng-template>