
   
  <div class="container-fluid">
  <mat-tab-group (selectedTabChange)="selectedTabValue($event)">
    <mat-tab label="NOC Details">
      <ng-template matTabContent>
        <app-dme-fac-noc *ngIf="selectedTabIndex === 0"></app-dme-fac-noc>
      </ng-template>
    </mat-tab>
    <mat-tab label="Summary">
      <ng-template matTabContent>
        <app-dme-fac-noc-summary *ngIf="selectedTabIndex === 1"></app-dme-fac-noc-summary>
      </ng-template>
    </mat-tab>
 
  </mat-tab-group>
  
  </div>
  