<div class="container mt-3">
    <!-- <h1 style="color: rgb(50, 50, 164); margin-bottom: 20px;" > <strong>Indent RC Status</strong></h1> -->
    
    <!-- <div class="row mb-3">
      <div class="col-md-6 d-flex flex-wrap">
       
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="categoryGroup" id="all" [(ngModel)]="selectedCategoryE"
            value="all" (change)="updateSelectedHodid()"  />
          <label class="form-check-label" for="all">All</label>
        </div>
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="categoryGroup" id="edl" [(ngModel)]="selectedCategoryE"
            value="edl" (change)="updateSelectedHodid()" />
          <label class="form-check-label" for="edl">EDL</label>
        </div>
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="categoryGroup" id="nedl" [(ngModel)]="selectedCategoryE"
            value="nedl" (change)="updateSelectedHodid()" />
          <label class="form-check-label" for="nedl">NON-EDL</label>
        </div>
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="categoryGroup" id="ayush" [(ngModel)]="selectedCategory"
            value="AYUSH" (change)="updateSelectedHodid()" />
          <label class="form-check-label" for="ayush">AYUSH</label>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <div class="row mb-3">
        <div class="col-md-6 d-flex flex-wrap">
          <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="categoryGroup" id="drugs" [(ngModel)]="selectedCategory"
              value="Drugs" (change)="updateSelectedHodid()"  />
            <label class="form-check-label" for="drugs">Drugs</label>
          </div>
          <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="categoryGroup" id="consumables" [(ngModel)]="selectedCategory"
              value="Consumables" (change)="updateSelectedHodid()" />
            <label class="form-check-label" for="consumables">Consumables</label>
          </div>
          <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="categoryGroup" id="reagent" [(ngModel)]="selectedCategory"
              value="Reagent" (change)="updateSelectedHodid()" />
            <label class="form-check-label" for="reagent">Reagent</label>
          </div>
          <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="categoryGroup" id="ayush" [(ngModel)]="selectedCategory"
              value="AYUSH" (change)="updateSelectedHodid()" />
            <label class="form-check-label" for="ayush">AYUSH</label>
          </div>
        </div>
      </div>


    <div class="form-group mb-2">
        <label for="yearSelect">Procurement Year</label>
        <select id="yearSelect" class="form-control" (change)="onYearChange($event)">
          <option value="">-- Select Year --</option>
          <option *ngFor="let year of years" [value]="year.id">
            {{ year.label }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="edlType" class="form-label">EDL Type</label>
        <select class="form-select" id="edlType" [(ngModel)]="selectedEdlType">
          <option *ngFor="let type of edlTypes" [value]="type.value">
            {{ type.label }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="catType" class="form-label">Category Type</label>
        <select class="form-select" id="catType" [(ngModel)]="selectedCatType">
          <option *ngFor="let cat of catTypes" [value]="cat.value">
            {{ cat.label }}
          </option>
        </select>
      </div>
      
      


    <div class="row mb-3 text-center">
      <div class="col-md-3"  >
        <button 
        class="btn btn-secondary w-100"
        
        [ngClass]="{'Active': HOD === 'All'}"
        (click)="showData()"
         >Show
        </button>
      </div>
      
    </div>


   
      




    <div class="row">
        <div class="col-lg-12 col-md-12 table-container mb-4">
          <div class="text d-flex mt-3">
            
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
           
            <div class="export-menu-container">
              <button mat-button [matMenuTriggerFor]="exportMenu">Export</button>
              <mat-menu #exportMenu="matMenu">
                <button mat-menu-item
                  (click)="exporter.exportTable('xlsx', { fileName: 'analysis', sheet: 'analysis', Props: { Author: 'cgmsc' }})">Excel</button>
                
    
              </mat-menu>
            </div>
          </div>
    
          <div class="table-responsive">
            <table class="table table-bordered table-striped" mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort>
    


   
   <!-- S.No -->
<ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef style="width: 80px;">S.No</th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >Total</td>

  </ng-container>
  
  <!-- Category -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;">Category(Priority)</th>
    <td mat-cell *matCellDef="let element"   > {{ element.category }} </td>
    <td mat-footer-cell *matFooterCellDef>-</td>
    
  </ng-container>
  
  <!-- Count of Items -->
  <ng-container matColumnDef="cntItems">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;">No Of Items</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,0)"  class="text-center link-hoverr" > {{ element.cntItems }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalItems}}</td>

  </ng-container>
  
  <!-- Stock Out -->
  <ng-container matColumnDef="stockout">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Stock Out</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'STOCKOUT')" class="text-center link-hoverr" > {{ element.stockout }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalstockout}}</td>

  </ng-container>
  
  <!-- Stock In -->
  <ng-container matColumnDef="stockin">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;">Stock Available</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'STOCKIN')" class="text-center link-hoverr" > {{ element.stockin }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalstockin}}</td>

  </ng-container>
  
  <!-- Stock Out PO Pipe -->
  <ng-container matColumnDef="stockoutpopipe">
    <th mat-header-cell *matHeaderCellDef style="width: 150px;">In Pipeline</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'STOCKOUTPOPIPE')" class="text-center link-hoverr" > {{ element.stockoutpopipe }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalstockoutpopipe}}</td>

  </ng-container>
  
  <!-- RC Valid -->
  <ng-container matColumnDef="rcvalid">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Valid</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'RCVALID')" class="text-center link-hoverr" > {{ element.rcvalid }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalrcvalid}}</td>

  </ng-container>
  
  <!-- RC Not Valid -->
  <ng-container matColumnDef="rcnotvalid">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Not Valid</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'RCNOTVALID')" class="text-center link-hoverr" > {{ element.rcnotvalid }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalrcnotvalid}}</td>

  </ng-container>
  
  <!-- Price Count -->
  <ng-container matColumnDef="pricecnt">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;">Price Opened</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'PRICECNT')" class="text-center link-hoverr" > {{ element.pricecnt }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalpricecnt}}</td>

  </ng-container>
  
  <!-- Evaluation Count -->
  <ng-container matColumnDef="evalutioncnt">
    <th mat-header-cell *matHeaderCellDef style="width: 150px;">Under Evaluation</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'EVALUTIONCNT')" class="text-center link-hoverr" > {{ element.evalutioncnt }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" >{{totalevalutioncnt}}</td>

  </ng-container>
  
  <!-- Live Count -->
  <ng-container matColumnDef="livecnt">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;">Live</th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'LIVECNT')" class="text-center link-hoverr" > {{ element.livecnt }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;">{{totallivecnt}}</td>

  </ng-container>
  
  <!-- Re-Tender Count -->
  <ng-container matColumnDef="rentendercn">
    <th mat-header-cell *matHeaderCellDef style="width: 150px;">To Be Tender </th>
    <td mat-cell *matCellDef="let element" (click)="ABC_VED_SDE_matrixWithStockOutDetail(element.category,'RENTENDERCN')" class="text-center link-hoverr" > {{ element.rentendercn }} </td>
    <td mat-footer-cell *matFooterCellDef style="font-weight: bold;">{{totalrentendercn}}</td>

  </ng-container>
  
<!-- ===== GROUP HEADERS ===== -->

<!-- Empty placeholder for S.No -->
<ng-container matColumnDef="header-sno">
    <th mat-header-cell *matHeaderCellDef class="text-center">-</th>
  </ng-container>
  
  <!-- Empty placeholder for Category -->
  <ng-container matColumnDef="header-category">
    <th mat-header-cell *matHeaderCellDef class="text-center">-</th>
  </ng-container>
  
  <!-- Empty placeholder for Count of Items -->
  <ng-container matColumnDef="header-cntItems">
    <th mat-header-cell *matHeaderCellDef class="text-center">-</th>
  </ng-container>
  
  <!-- Stock Status -->
  <ng-container matColumnDef="stock-status">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="text-center">
      Stock Status (In Nos)
    </th>
  </ng-container>
  
  <!-- In Pipeline -->
  <ng-container matColumnDef="in-pipeline">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="text-center">
      -
    </th>
  </ng-container>
  
  <!-- RC Status -->
  <ng-container matColumnDef="rc-status">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="text-center">
      RC Status
    </th>
  </ng-container>
  
  <!-- Tender Status -->
  <ng-container matColumnDef="tender-status">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="4" class="text-center">
      Tender Status
    </th>
  </ng-container>
  
  
  <!-- ===== HEADER ROWS ===== -->
  
  <!-- 1️⃣ Group Header Row -->
  <tr mat-header-row *matHeaderRowDef="[
    'header-sno',
    'header-category',
    'header-cntItems',
    'stock-status',
    'in-pipeline',
    'rc-status',
    'tender-status'
  ]"></tr>
  
  <!-- 2️⃣ Normal Header Row -->
  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="[
    'sno',
    'category',
    'cntItems',
    'stockout',
    'stockin',
    'stockoutpopipe',
    'rcvalid',
    'rcnotvalid',
    'pricecnt',
    'evalutioncnt',
    'livecnt',
    'rentendercn'
  ]"></tr>
  
  <!-- Data Row -->
  <tr mat-row *matRowDef="let row; columns: [
    'sno',
    'category',
    'cntItems',
    'stockout',
    'stockin',
    'stockoutpopipe',
    'rcvalid',
    'rcnotvalid',
    'pricecnt',
    'evalutioncnt',
    'livecnt',
    'rentendercn'
  ]"></tr>


<!-- Footer Row -->
<tr mat-footer-row 
    *matFooterRowDef="[
      'sno',
    'category',
    'cntItems',
    'stockout',
    'stockin',
    'stockoutpopipe',
    'rcvalid',
    'rcnotvalid',
    'pricecnt',
    'evalutioncnt',
    'livecnt',
    'rentendercn'
    
    ]" 
    [hidden]="!showFooter">
</tr>
  
       
            </table>
          </div>      
          <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>



    </div>






     <ng-template class=" " #StatusDetailsModal let-modal  >
        <div class="row align-items-center p-2 m-2 ">
          <div class="col-lg-6 col-md-8">
            
            <h1 class="text-info-emphasis">Report :Procurement Year :{{selectedLabele}}, EDL Type : {{edl}}  </h1>
          </div>
          <div class="col-lg-6 col-md-4 text-end">
            <button type="button" class="btn-close" mat-dialog-close aria-label="Close"></button>
          </div>
        </div>
        <div class="" mat-dialog-content>
          <div class="row card shadow card-body ">
                <!-- <div class="card shadow" > -->
                    <div class="card-body">
                        <div class="row border mb-1">
                            <div class="col-12 text-center font-weight-bold py-1 text-white" style="background-color:#007f5f;">
                                <strong>{{selectedCatType}} Analysis Details : Category {{category}}, {{rc}}
                                                                                         </strong>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 table-container mb-4">
      
      
                        
                     
                            <div class="d-flex justify-content-between align-items-center mb-3">
      
      
      
                              
                              <div class="filter-field flex-grow-1">
                                <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFiltertotal($event)">
                              </div>
                              <div class="export-menu-container">
                                <button mat-button [matMenuTriggerFor]="exportMenu">Export</button>
                                <mat-menu #exportMenu="matMenu">
                                  <button mat-menu-item
                                    (click)="exporter.exportTable('xlsx', { fileName: 'abcanalysisdetails', sheet: 'abcanalysisdetails', Props: { Author: 'cgmsc' }})">Excel</button>
                                  
                                  <button mat-button (click)="exportToPDFd()">PDF</button>
                      
                                </mat-menu>
                              </div>
                            </div>
                      
                            <div class="table-responsive">
                              <table  mat-table matTableExporter [dataSource]="dataSource8" #exporter="matTableExporter" matSort #sort8="matSort">
                            
                                        
                                <ng-container matColumnDef="sno">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                      <div class="center-header-cell">S.No</div>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                      <div class="center-cell">{{ element.sno }}</div>
                                    </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="itemcode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.itemcode }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="druG_NAME">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.druG_NAME }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="strengtH1">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Strength </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.strengtH1 }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="unit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.unit }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="itemtypename">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Type </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.itemtypename }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="edltype">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EDL Type </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.edltype }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="edlcat">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EDL Category </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.edlcat }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="mcategory">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.mcategory }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="ordeR_VALUE">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Value </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.ordeR_VALUE }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="readywtock">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ready Stock </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.readywtock }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="uqcstock">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> UQC Stock </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.uqcstock }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="supplierpipeline">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier Pipeline </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.supplierpipeline }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="transferQTY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Qty </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.transferQTY }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="stockOut">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Out </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.stockOut }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="stockIn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock In </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.stockIn }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="stockOutPoPipe">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> StockOut PO Pipeline </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.stockOutPoPipe }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="stockOutPoQty">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> StockOut PO Qty </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.stockOutPoQty }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="rcValid">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RC Valid </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.rcValid }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="rcNotValid">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RC Not Valid </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.rcNotValid }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="pricecnt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Opened </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.pricecnt }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="evalutioncnt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Under Evaluation </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.evalutioncnt }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="liveCnt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Live In </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.liveCnt }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="rentendercn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> To Be Tender  </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.rentendercn }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="abc_category">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ABC Category </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.abc_category }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="vedcat">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VED Category </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.vedcat }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="sde_class">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SDE Class </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.sde_class }} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="abC_VED_SDE_CATEGORY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ABC-VED-SDE Category </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.abC_VED_SDE_CATEGORY }} </td>
                                  </ng-container>
                                  
                                  
                                  <!-- Table Header -->
                                  <tr mat-header-row *matHeaderRowDef="[
                                    'sno',
                                    'druG_NAME',
                                    'itemcode',
                                    'strengtH1',
                                    'unit',
                                    'itemtypename',
                                    'edltype',
                                    'edlcat',
                                    'mcategory',
                                    'ordeR_VALUE',
                                    'readywtock',
                                    'uqcstock',
                                    'supplierpipeline',
                                    
                                    'stockOut',
                                    'stockIn',
                                    'stockOutPoPipe',
                                    'stockOutPoQty',
                                    'rcValid',
                                    'rcNotValid',
                                    'pricecnt',
                                    'evalutioncnt',
                                    'liveCnt',
                                    'rentendercn',
                                    'abc_category',
                                    'vedcat',
                                    'sde_class',
                                    'abC_VED_SDE_CATEGORY'
                                  ]"></tr>
                                  
                                  <!-- Table Rows -->
                                  <tr mat-row *matRowDef="let row; columns: [
                                    'sno',
                                    'druG_NAME',
                                    'itemcode',
                                    'strengtH1',
                                    'unit',
                                    'itemtypename',
                                    'edltype',
                                    'edlcat',
                                    'mcategory',
                                    'ordeR_VALUE',
                                    'readywtock',
                                    'uqcstock',
                                    'supplierpipeline',
                                    
                                    'stockOut',
                                    'stockIn',
                                    'stockOutPoPipe',
                                    'stockOutPoQty',
                                    'rcValid',
                                    'rcNotValid',
                                    'pricecnt',
                                    'evalutioncnt',
                                    'liveCnt',
                                    'rentendercn',
                                    'abc_category',
                                    'vedcat',
                                    'sde_class',
                                    'abC_VED_SDE_CATEGORY'
                                  ];"></tr>
                                  
         
      
                            
                              </table>
                            </div>
                             
                            <mat-paginator #paginator8 [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
                          </div>
                    </div>
              
                   
                    
                </div>
                    
                
                  </div>  
          
           
          
              
          
          
      
      
      
          <!-- </div> -->
      
      
        
        <div class="d-grid gap-2 col-12 mx-auto  m-2">
          <button  mat-dialog-close type="button" class="btn btn-info btn-lg">
            <mat-icon role="img" mat-card-avatar class="mat-icon notranslate mat-card-avatar material-icons mat-icon-no-color"
              aria-hidden="true">
              exit_to_app
            </mat-icon>
          </button>
        </div>
      </ng-template>