<div class="container-fluid">
    <iframe 
      title="DPDMIS" 
      src="https://app.powerbi.com/view?r=eyJrIjoiMDEyMjQwZTctNGFmNC00NWVkLWIzODYtM2JlZjFkMDFhMzlmIiwidCI6ImJiMTI4ZWViLWJmMTQtNGI1ZC1hODIwLTM1YjQ4ZmMzNjJkMiJ9"
      frameborder="0" 
      allowFullScreen="true"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;">
    </iframe>
</div>



<!--
<iframe title="DPDMIS" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMDEyMjQwZTctNGFmNC00NWVkLWIzODYtM2JlZjFkMDFhMzlmIiwidCI6ImJiMTI4ZWViLWJmMTQtNGI1ZC1hODIwLTM1YjQ4ZmMzNjJkMiJ9" frameborder="0" allowFullScreen="true"></iframe> 
-->