<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="chart-container">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                    [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [fill]="chartOptions.fill"
                    [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [tooltip]="chartOptions.tooltip"
                    [legend]="chartOptions.legend"></apx-chart>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="chart-container">
                <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                    [dataLabels]="chartOptions?.dataLabels" [plotOptions]="chartOptions?.plotOptions"
                    [xaxis]="chartOptions?.xaxis" [stroke]="chartOptions?.stroke" [fill]="chartOptions?.fill"
                    [yaxis]="chartOptions?.yaxis" [title]="chartOptions?.title" [tooltip]="chartOptions?.tooltip"
                    [legend]="chartOptions?.legend"></apx-chart>
            </div>
        </div>
    </div>
</div> -->
