<div class="card shadow">
    <div class="card-body">
        <div class="w-100" > <!--#e2e3e5 style="background-color:#858681"-->
            <h3 class="bold text-light bg-dark">Land Issue</h3>
        </div>
        <div class="container-fluid p-2"  >
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-2 border rounded" *ngIf="LIPendingTotalData.length > 0" >
                <div class="chart-container">
                  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
                    [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
                    [fill]="chartOptions.fill" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"
                    [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend"  
                     ></apx-chart>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-2 border rounded" *ngIf="LIPendingSchemeData.length > 0" >
                <div class="chart-container">
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [dataLabels]="chartOptions2.dataLabels"
                      [plotOptions]="chartOptions2.plotOptions" [xaxis]="chartOptions2.xaxis" [stroke]="chartOptions2.stroke"
                      [fill]="chartOptions2.fill" [yaxis]="chartOptions2.yaxis" [title]="chartOptions2.title"
                      [tooltip]="chartOptions2.tooltip" [legend]="chartOptions2.legend"></apx-chart>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 mb-2 border rounded" *ngIf="LIPendingDistrictData.length > 0">
                <div class="chart-container">
                  <apx-chart [series]="chartOptionsLine.series" [chart]="chartOptionsLine.chart" [dataLabels]="chartOptionsLine.dataLabels"
                    [plotOptions]="chartOptionsLine.plotOptions" [xaxis]="chartOptionsLine.xaxis" [stroke]="chartOptionsLine.stroke"
                    [fill]="chartOptionsLine.fill" [yaxis]="chartOptionsLine.yaxis" [title]="chartOptionsLine.title"
                    [tooltip]="chartOptionsLine.tooltip" [legend]="chartOptionsLine.legend"></apx-chart>
                </div>

                    
                  </div>
              <!-- <div class="col-lg-6 col-md-6 mb-2 border rounded">
               <div class="chart-container">
                    <apx-chart [series]="chartOptionsLine2.series" [chart]="chartOptionsLine2.chart" [dataLabels]="chartOptionsLine2.dataLabels"
                      [plotOptions]="chartOptionsLine2.plotOptions" [xaxis]="chartOptionsLine2.xaxis" [stroke]="chartOptionsLine2.stroke"
                      [fill]="chartOptionsLine2.fill" [yaxis]="chartOptionsLine2.yaxis" [title]="chartOptionsLine2.title"
                      [tooltip]="chartOptionsLine2.tooltip" [legend]="chartOptionsLine2.legend"></apx-chart>
                  </div>
              </div> -->
              
            
            </div>
          </div>
    </div>
</div>

<ng-template class=" " #itemDetailsModal let-modal>
  <div class="row align-items-center p-2 m-2 ">
    <div class="col-lg-6 col-md-8">
      <h1 class="text-primary-emphasis">Land Issue Details</h1>
      <h1 class="text-primary-emphasis">Selected Name :<span class="text-primary">{{name}}</span></h1>
      <h1 class="text-primary-emphasis">No. of Works: <span class="text-primary">{{totalWorks}}</span></h1>
    </div>
    <div class="col-lg-6 col-md-4 text-end">
      <button type="button" class="btn-close" mat-button mat-dialog-close aria-label="Close"></button>
    </div>
  </div>
  <div class="" mat-dialog-content>
    <div class="row card shadow card-body ">
      <div class="d-flex justify-content-between align-items-center mb-0">
        <div class="filter-field flex-grow-1">
          <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFilter($event)">
        </div>
        <div class="export-menu-container">
          <button class="btn  btn-outline-secondary" mat-button [matMenuTriggerFor]="exportMenu">Export</button>
          <mat-menu #exportMenu="matMenu">
            <button mat-menu-item
              (click)="exporter.exportTable('xlsx', { fileName: 'LandIssueDetails', sheet: 'LandIssueDetails', Props: { Author: 'cgmsc' }})">Excel</button>
            <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
            <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
            <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
            <button mat-menu-item (click)="exportToPDF()">PDF</button>
          </mat-menu>
        </div>
      </div>

      <div class="table-responsive ">
        <table class="table table-bordered table-striped border rounded " mat-table matTableExporter
          [dataSource]="dataSource" #exporter="matTableExporter" matSort>
          <!-- <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>S.NO</th>
            <td mat-cell *matCellDef="let element"> {{ element.sno}} </td>
          </ng-container>
          <ng-container matColumnDef="letterNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LetterNo</th>
            <td mat-cell *matCellDef="let element"> {{ element.letterNo }} </td>
          </ng-container>
          <ng-container matColumnDef="head">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Head</th>
            <td mat-cell *matCellDef="let element"> {{ element.head }} </td>
          </ng-container>
          <ng-container matColumnDef="acceptLetterDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AcceptLetterDT</th>
            <td mat-cell *matCellDef="let element"> {{ element.acceptLetterDT }} </td>
          </ng-container>
          <ng-container matColumnDef="totalAmountOfContract">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalAmountOfContract</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalAmountOfContract }} </td>
          </ng-container>
          <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
            <td mat-cell *matCellDef="let element"> {{ element.district }} </td>
          </ng-container>
          <ng-container matColumnDef="work">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work</th>
            <td mat-cell *matCellDef="let element"> {{ element.work }} </td>
          </ng-container>
          <ng-container matColumnDef="contractorNAme">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ContractorName</th>
            <td mat-cell *matCellDef="let element"> {{ element.contractorNAme }} </td>
          </ng-container>
          <ng-container matColumnDef="work_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work ID</th>
            <td mat-cell *matCellDef="let element"> {{ element.work_id }} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Download AS</th>
            <td mat-cell *matCellDef="let element">
              <span class="d-flex  flex-row-reverse p-2 ">
                 <button class="btn btn-light btn-sm btn-outline-secondary align-items-center border rounded" mat-button
                  (click)="onButtonClick2(0,element.work_id)">
                  <i class="bi bi-file-earmark-pdf me-0 bg-danger"></i>
                </button>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row
            *matHeaderRowDef="['sno','letterNo', 'head','acceptLetterDT','totalAmountOfContract','district','work','contractorNAme','work_id','action']">
          </tr>

          <tr mat-row
            *matRowDef="let row; columns: ['sno','letterNo', 'head','acceptLetterDT','totalAmountOfContract','district','work','contractorNAme','work_id','action']">
          </tr> -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
            <td mat-cell *matCellDef="let element"> {{ element.sno }} </td>
          </ng-container>
          <ng-container matColumnDef="work_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work ID</th>
            <td mat-cell *matCellDef="let element">{{ element.work_id}}</td>
          </ng-container>
          <ng-container matColumnDef="grantNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Head No</th>
            <td mat-cell *matCellDef="let element">{{ element.grantNo}} </td>
          </ng-container>
          <ng-container matColumnDef="head">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Head</th>
            <td mat-cell *matCellDef="let element">{{ element.head}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="divName_En">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Division</th>
            <td mat-cell *matCellDef="let element"> {{ element.divName_En}} </td>
          </ng-container> -->
        
          <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
            <td mat-cell *matCellDef="let element"> {{ element.district}} </td>
          </ng-container>
          <ng-container matColumnDef="blockname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Block</th>
            <td mat-cell *matCellDef="let element"> {{ element.blockname}} </td>
          </ng-container>
         
          <ng-container matColumnDef="work">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work</th>
            <td mat-cell *matCellDef="let element">{{ element.work}} </td>
          </ng-container>
          
         
         
          <ng-container matColumnDef="wrokOrderDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order DT</th>
            <td mat-cell *matCellDef="let element"> {{ element.wrokOrderDT}} </td>
          </ng-container>
          <ng-container matColumnDef="timeAllowed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Allowed</th>
            <td mat-cell *matCellDef="let element"> {{ element.timeAllowed}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="dueDTTimePerAdded">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Due DT Completion</th>
            <td mat-cell *matCellDef="let element"> {{ element.dueDTTimePerAdded}} </td>
          </ng-container> -->
          <ng-container matColumnDef="lProgress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress Level</th>
            <td mat-cell *matCellDef="let element"> {{ element.lProgress}} </td>
          </ng-container>
          <ng-container matColumnDef="pdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress DT</th>
            <td mat-cell *matCellDef="let element"> {{ element.pdate}} </td>
        </ng-container> 
        
       <ng-container matColumnDef="delayReason" style="width: 50%;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Delay Reason</th>
          <td mat-cell *matCellDef="let element"> {{ element.delayReason}} </td>
      </ng-container> 
      <ng-container matColumnDef="pRemarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
        <td mat-cell *matCellDef="let element"> {{ element.pRemarks}}/{{ element.remarks}}  </td>
    </ng-container> 
    <!-- <ng-container matColumnDef="expcompdt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exp. Comp DT</th>
      <td mat-cell *matCellDef="let element"> {{ element.expcompdt}} </td>
  </ng-container> -->
       <!-- <ng-container matColumnDef="Remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
          <td mat-cell *matCellDef="let element"> {{ element.Remarks}} </td>
      </ng-container>  -->
     
          <ng-container matColumnDef="subengname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Eng</th>
            <td mat-cell *matCellDef="let element"> {{ element.subengname}} </td>
          </ng-container>
          <ng-container matColumnDef="aeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Asst.Eng</th>
            <td mat-cell *matCellDef="let element"> {{ element.aeName}} </td>
          </ng-container>
          <ng-container matColumnDef="aaDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AS Date</th>
            <td mat-cell *matCellDef="let element"> {{ element.aaDate}} </td>
          </ng-container>
        
          <ng-container matColumnDef="aaamt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AS Amount(in Lacs)</th>
            <td mat-cell *matCellDef="let element"> {{ element.aaamt}} </td>
          </ng-container>
          <ng-container matColumnDef="tsDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS Date</th>
            <td mat-cell *matCellDef="let element"> {{ element.tsDate}} </td>
          </ng-container>
        
          <ng-container matColumnDef="tsamt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TS Amount(in Lacs)</th>
            <td mat-cell *matCellDef="let element"> {{ element.tsamt}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="tType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tender Type</th>
            <td mat-cell *matCellDef="let element"> {{ element.tType}} </td>
          </ng-container> -->
          <ng-container matColumnDef="tenderReference">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NIT Reference</th>
            <td mat-cell *matCellDef="let element">{{ element.tenderReference}} </td>
          </ng-container>
          <ng-container matColumnDef="dateOfIssueNIT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NIT/Sanction DT</th>
            <td mat-cell *matCellDef="let element"> {{ element.dateOfIssueNIT}}/ {{ element.dateOfSanction}} </td>
          </ng-container>
          <ng-container matColumnDef="acceptanceLetterRefNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acceptance Letter RefNo</th>
            <td mat-cell *matCellDef="let element"> {{ element.acceptanceLetterRefNo}} </td>
          </ng-container>
          <ng-container matColumnDef="agreementRefNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order RefNo</th>
            <td mat-cell *matCellDef="let element"> {{ element.agreementRefNo}}/ {{ element.workorderRefNoGovt}}</td>
          </ng-container>
          <ng-container matColumnDef="acceptLetterDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Accepted DT</th>
            <td mat-cell *matCellDef="let element"> {{ element.acceptLetterDT}} </td>
          </ng-container>
          <ng-container matColumnDef="sanctionRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate%</th>
            <td mat-cell *matCellDef="let element"> {{ element.sanctionRate}} </td>
          </ng-container>
          <ng-container matColumnDef="sanctionDetail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sanction</th>
            <td mat-cell *matCellDef="let element"> {{ element.sanctionDetail}} </td>
          </ng-container>
          <ng-container matColumnDef="totalAmountOfContract">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Value(In Lacs)</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalAmountOfContract}} </td>
          </ng-container>
          <ng-container matColumnDef="totalpaid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Paid(In Lacs)</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalpaid}} </td>
          </ng-container>
          <ng-container matColumnDef="totalunpaid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Unpaid(In Lacs)</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalunpaid}} </td>
          </ng-container>
          <ng-container matColumnDef="contractorNAme">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor</th>
            <td mat-cell *matCellDef="let element"> {{ element.contractorNAme}} </td>
          </ng-container>
          <ng-container matColumnDef="letterNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AS Letter NO</th>
            <td mat-cell *matCellDef="let element">{{ element.letterNo}} </td>
          </ng-container>
          <ng-container matColumnDef="approver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Approver</th>
            <td mat-cell *matCellDef="let element">{{ element.approver}} </td>
          </ng-container>
         
          <ng-container matColumnDef="cid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor ID/Class</th>
            <td mat-cell *matCellDef="let element"> {{ element.cid}}/{{ element.regType}} </td>
          </ng-container>
         
          <ng-container matColumnDef="mobNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor Mobile No</th>
            <td mat-cell *matCellDef="let element"> {{ element.mobNo}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Download AS</th>
            <td mat-cell *matCellDef="let element">
              <span class="d-flex  flex-row-reverse p-2 ">
                <button class="btn btn-light btn-sm btn-outline-secondary align-items-center border rounded" mat-button
                  (click)="onButtonClick2(0,element.work_id)">
                  <i class="bi bi-file-earmark-pdf me-0 bg-danger"></i>
                </button>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="roleName === 'Infrastructure_Public' ? ['sno','work_id','head','district','blockname','work','wrokOrderDT','lProgress','pdate','delayReason','pRemarks','subengname','aeName','aaDate','aaamt','tenderReference','acceptLetterDT','totalAmountOfContract','contractorNAme',]:
                                                                                      ['sno','work_id','grantNo','head','district','blockname','work','wrokOrderDT','timeAllowed','lProgress','pdate','delayReason','pRemarks','subengname','aeName','aaDate','aaamt','tsDate','tsamt','tenderReference','dateOfIssueNIT','acceptanceLetterRefNo','agreementRefNo','acceptLetterDT','sanctionRate','sanctionDetail','totalAmountOfContract','totalpaid','totalunpaid','contractorNAme','letterNo','approver','cid','mobNo','action']">
          </tr>
        
          <tr mat-row *matRowDef="let row; columns: roleName === 'Infrastructure_Public' ?['sno','work_id','head','district','blockname','work','wrokOrderDT','lProgress','pdate','delayReason','pRemarks','subengname','aeName','aaDate','aaamt','tenderReference','acceptLetterDT','totalAmountOfContract','contractorNAme',]:
                                                                                          ['sno','work_id','grantNo','head','district','blockname','work','wrokOrderDT','timeAllowed','lProgress','pdate','delayReason','pRemarks','subengname','aeName','aaDate','aaamt','tsDate','tsamt','tenderReference','dateOfIssueNIT','acceptanceLetterRefNo','agreementRefNo','acceptLetterDT','sanctionRate','sanctionDetail','totalAmountOfContract','totalpaid','totalunpaid','contractorNAme','letterNo','approver','cid','mobNo','action']">
          </tr>
          <!-- <tr mat-header-row
          *matHeaderRowDef="['sno','work_id','grantNo','head','district','blockname','work','wrokOrderDT','timeAllowed','lProgress','pdate','delayReason','pRemarks','subengname','aeName','aaDate','aaamt','tsDate','tsamt','tenderReference','dateOfIssueNIT','acceptanceLetterRefNo','agreementRefNo','acceptLetterDT','sanctionRate','sanctionDetail','totalAmountOfContract','totalpaid','totalunpaid','contractorNAme','letterNo','approver','cid','mobNo','action']">
           </tr>
          <tr mat-row
            *matRowDef="let row; columns: ['sno','work_id','grantNo','head','district','blockname','work','wrokOrderDT','timeAllowed','lProgress','pdate','delayReason','pRemarks','subengname','aeName','aaDate','aaamt','tsDate','tsamt','tenderReference','dateOfIssueNIT','acceptanceLetterRefNo','agreementRefNo','acceptLetterDT','sanctionRate','sanctionDetail','totalAmountOfContract','totalpaid','totalunpaid','contractorNAme','letterNo','approver','cid','mobNo','action']">
          </tr> -->
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10,15, 30]" showFirstLastButtons></mat-paginator>
      </div>
    </div>


  </div>
  <div class="d-grid gap-2 col-12 mx-auto footer mt-1 p-2">
    <button mat-button mat-dialog-close  type="button" class="btn btn-info btn-lg" >
      <!-- mat-card-avatar  mat-card-avatar -->
      <mat-icon role="img" class="mat-icon notranslate  material-icons mat-icon-no-color" aria-hidden="true">
        exit_to_app
      </mat-icon>
    </button>
  </div> 
</ng-template>