

<div class="container-fluid mt-4">
  <div class="row">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <!-- Main Menu Item -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div [style.background-color]="colors[i % colors.length]" class="card mb-4 shadow-sm" [routerLink]="item.route" style="cursor: pointer;">
          <div class="card-body d-flex flex-column align-items-center text-center">
            <!-- Image Section -->
            <div class="card-icon">
              <img 
                *ngIf="labelToIconMap[item.label]" 
                [src]="labelToIconMap[item.label]" 
                alt="{{item.label}} icon" 
                class="responsive-img"
              />
            </div>
            <!-- Text Section -->
            <h5 class="card-title mb-0 text-center">{{ item.label }}</h5>
          </div>
        </div>
      </div>

      <!-- Submenu Items -->
      <ng-container *ngIf="item.submenu">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let sub of item.submenu">
          <div class="card mb-4 shadow-sm" [routerLink]="sub.route" style="cursor: pointer; background-color: #f8f9fa;">
            <div class="card-body d-flex flex-column align-items-center text-center">
              <!-- Image Section -->
              <div class="card-icon">
                <img 
                  *ngIf="labelToIconMap[sub.label]" 
                  [src]="labelToIconMap[sub.label]" 
                  alt="{{sub.label}} icon" 
                  class="responsive-img"
                />
              </div>
              <!-- Text Section -->
              <h6 class="card-title mb-0 text-center">{{ sub.label }}</h6>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

