<div class="container-fluid p-4">
    <h1 class="text-center" style="color: rgb(50, 50, 164);">
      <strong>Current Year DHS Facility Wise Supplies</strong>
    </h1>
  
    <div class="row">
      <h1 class="text-center" style="color:rgb(178, 8, 138);">
        <strong>Drugs</strong>
      </h1>
  
      <!-- First Card -->
      <div class="col-12 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <!-- First Chart Container -->
              <div class="col-lg-6 col-md-12 mb-4">
                <div class="chart-container">
                  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
                    [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
                    [fill]="chartOptions.fill" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"
                    [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend"></apx-chart>
                </div>
              </div>
  
              <!-- Second Chart/Table Container -->
              <div class="col-lg-6 col-md-12 mb-4">
                <div class="table-container">
                  <div class="table-responsive">
                    <apx-chart [series]="chartOptionsLine.series" [chart]="chartOptionsLine.chart" [dataLabels]="chartOptionsLine.dataLabels"
                      [plotOptions]="chartOptionsLine.plotOptions" [xaxis]="chartOptionsLine.xaxis" [stroke]="chartOptionsLine.stroke"
                      [fill]="chartOptionsLine.fill" [yaxis]="chartOptionsLine.yaxis" [title]="chartOptionsLine.title"
                      [tooltip]="chartOptionsLine.tooltip" [legend]="chartOptionsLine.legend"></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <h1 class="text-center" style="color:rgb(199, 21, 157);">
        <strong>Consumables</strong>
      </h1>
  
      <!-- Second Card -->
      <div class="col-12 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="row">
              <!-- Third Chart/Table Container -->
              <div class="col-lg-6 col-md-12 mb-4">
                <div class="chart-container">
                  <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [dataLabels]="chartOptions2.dataLabels"
                    [plotOptions]="chartOptions2.plotOptions" [xaxis]="chartOptions2.xaxis" [stroke]="chartOptions2.stroke"
                    [fill]="chartOptions2.fill" [yaxis]="chartOptions2.yaxis" [title]="chartOptions2.title"
                    [tooltip]="chartOptions2.tooltip" [legend]="chartOptions2.legend"></apx-chart>
                </div>
              </div>
  
              <!-- Fourth Chart/Table Container -->
              <div class="col-lg-6 col-md-12 mb-4">
                <div class="table-container">
                  <div class="table-responsive">
                    <apx-chart [series]="chartOptionsLine2.series" [chart]="chartOptionsLine2.chart" [dataLabels]="chartOptionsLine2.dataLabels"
                      [plotOptions]="chartOptionsLine2.plotOptions" [xaxis]="chartOptionsLine2.xaxis" [stroke]="chartOptionsLine2.stroke"
                      [fill]="chartOptionsLine2.fill" [yaxis]="chartOptionsLine2.yaxis" [title]="chartOptionsLine2.title"
                      [tooltip]="chartOptionsLine2.tooltip" [legend]="chartOptionsLine2.legend"></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  