<nav class="d-flex flex-column p-3 bg-light" style="width: 250px; height: 100vh;">
    <a href="#" class="navbar-brand">Public View </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/public-view1" class="nav-link" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="https://dpdmis.in/DPDMISStock/GernalReport/warehouse.aspx">CGMSC warehouse Wise Stock</a>
      </li>
      <li>
        <a  href="https://dpdmis.in/gmapnew.aspx" class="nav-link" >Transport Vehicle monitoring</a>
      </li>
      <li>
        <a  href="https://dpdmis.in/DPDMISStock/StockIssue/TotalStock1CGMSCL.aspx" class="nav-link" >CGMSC Total Stock</a>
      </li>
      <li>
        <a  href="https://dpdmis.in/DPDMISStock/Reports/RptWarehouseStockCGMSCL.aspx" class="nav-link" >CGMSC Warehouse Stock </a>
      </li>
      <li>
        <a  href="https://dpdmis.in/DPDMISStock/Reports/DrugWisewarehousesrptCGMSCL.aspx" class="nav-link" >CGMSC Item Wise Stock</a>
      </li>
      <li>
        <a  href="https://dpdmis.in/DPDMISStock/FacilityIssue/Facility_Issue_Summary.aspx" class="nav-link" >Health Facility Wise Issuance </a>
      </li>
      <li>
        <a  href="https://dpdmis.in/DPDMISStock/FacilityIssue/Cgmsc_Facility_Issue_Summary.aspx" class="nav-link" >Item Wise Issuance</a>
      </li>
      <li>
        <a  href="https://dpdmis.in/DPDMISStock/GernalReport/RC_reprot.aspx" class="nav-link" >Rate Contract Info</a>
      </li>
      
    </ul>
</nav>
