
 
  <!-- LIcence page -->
  <div class="">
    <div *ngIf="loadingSectionA; else sectionAContent" class="spinner-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      <ng-template #sectionAContent>
      <div class="card shadow rounded bg-light mx-auto mb-5">
        <div class="card-body p-3">
          <div class="table-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="filter-field flex-grow-1">
                <input type="text" class="form-control form-control-sm" placeholder="Filter"
                  (keyup)="applyTextFilterManLic($event)" />
              </div>
              <div class="export-menu-container ms-2">
                <!-- <button type="button" class="btn border rounded text-light" mat-button style="background-color: rgb(21, 184, 0);" (click)="onshowButtonClickLICENCE()"
                >Add <i class="bi bi-folder-plus"></i></button> -->
              </div>
            </div>
  
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource2" matTableExporter
                class="table table-bordered table-hover table-sm align-middle" #exporter="matTableExporter" matSort
                #sort1="matSort">
                <!-- S.No -->
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef style="width: 60px;">S.No</th>
                  <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>
  
                <!-- Licence No -->
                <ng-container matColumnDef="licno">
                  <th mat-header-cell *matHeaderCellDef>Licence No</th>
                  <td mat-cell *matCellDef="let row">{{ row.licno }}</td>
                </ng-container>
  
                <!-- Unit Name -->
                <ng-container matColumnDef="unitname">
                  <th mat-header-cell *matHeaderCellDef>Unit Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.unitname }}</td>
                </ng-container>
  
                <!-- Unit Address -->
                <ng-container matColumnDef="unitaddress">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let row">{{ row.unitaddress }}</td>
                </ng-container>
  
                <!-- City -->
                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef>City</th>
                  <td mat-cell *matCellDef="let row">{{ row.city }}</td>
                </ng-container>
  
                <!-- Incharge Name -->
                <ng-container matColumnDef="unitinchargename">
                  <th mat-header-cell *matHeaderCellDef>Incharge Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.unitinchargename }}</td>
                </ng-container>
  
                <!-- Incharge Mobile -->
                <ng-container matColumnDef="unitinchargemob">
                  <th mat-header-cell *matHeaderCellDef>Mobile</th>
                  <td mat-cell *matCellDef="let row">{{ row.unitinchargemob }}</td>
                </ng-container>
  
                <!-- Incharge Email -->
                <ng-container matColumnDef="unitinchargeemail">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let row">{{ row.unitinchargeemail }}</td>
                </ng-container>
                <ng-container matColumnDef="licIssuingAuthority">
                  <th mat-header-cell *matHeaderCellDef>Issuing Authority</th>
                  <td mat-cell *matCellDef="let element">{{ element.licIssuingAuthority }}</td>
                </ng-container>
                <!-- Issue Date -->
                <ng-container matColumnDef="issuedate">
                  <th mat-header-cell *matHeaderCellDef>Issue Date</th>
                  <td mat-cell *matCellDef="let row">{{ row.issuedate }}</td>
                </ng-container>
  
                <!-- Validity Date -->
                <ng-container matColumnDef="validitydate">
                  <th mat-header-cell *matHeaderCellDef>Validity Date</th>
                  <td mat-cell *matCellDef="let row">{{ row.validitydate }}</td>
                </ng-container>
  
                <!-- Licence Type -->
                <ng-container matColumnDef="lictypename">
                  <th mat-header-cell *matHeaderCellDef>Licence Type</th>
                  <td mat-cell *matCellDef="let row">{{ row.lictypename }}</td>
                </ng-container>
  
                <!-- State -->
                <ng-container matColumnDef="statename">
                  <th mat-header-cell *matHeaderCellDef>State</th>
                  <td mat-cell *matCellDef="let row">{{ row.statename }}</td>
                </ng-container>
  
                <!-- Entry Date -->
                <ng-container matColumnDef="entrydate">
                  <th mat-header-cell *matHeaderCellDef>Entry Date</th>
                  <td mat-cell *matCellDef="let row">{{ row.entrydate }}</td>
                </ng-container>
                <!-- Entry Date -->
                <ng-container matColumnDef="isaccepted">
                    <th mat-header-cell *matHeaderCellDef>Accepted</th>
                  
                    <td mat-cell *matCellDef="let row">
                  
                      <span 
                        [ngClass]="{
                          'text-success fw-bold': row.isaccepted === 'Y',
                          'text-danger fw-bold': row.isaccepted === 'N',
                          'text-secondary': row.isaccepted === 'NA'
                        }"
                      >
                        {{ row.isaccepted === 'Y' ? 'YES' : row.isaccepted === 'N' ? 'NO' : 'NA' }}
                      </span>
                  
                    </td>
                  </ng-container>
                  

                <ng-container matColumnDef="accrejremarks">
                  <th mat-header-cell *matHeaderCellDef>Remarks</th>
                  <td mat-cell *matCellDef="let row">{{ row.accrejremarks }}</td>
                </ng-container>

                <ng-container matColumnDef="isaccepteddt">
                  <th mat-header-cell *matHeaderCellDef>Accepted Date</th>
                  <td mat-cell *matCellDef="let row">{{ row.isaccepteddt }}</td>
                </ng-container>


  <!-- APPROVED COLUMN -->
<ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">
      Approved
    </th>
  
    <td mat-cell *matCellDef="let element" class="text-center p-0">
  
      <div class="d-flex flex-column justify-content-center align-items-center gap-1">
  
        <!-- YES -->
        <div class="form-check p-0 m-0">
          <input class="form-check-input small-radio"
                 type="radio"
                 name="approve{{element.licid}}"
                 [value]="'Y'"
                 (change)="setApproval(element, 'Y')">
          <label class="form-check-label tiny-text">YES</label>
        </div>
  
        <!-- NO -->
        <div class="form-check p-0 m-0">
          <input class="form-check-input small-radio"
                 type="radio"
                 name="approve{{element.licid}}"
                 [value]="'N'"
                 
                 (change)="setApproval(element, 'N')">
          <label class="form-check-label tiny-text">NO</label>
        </div>
  
      </div>
  
    </td>
  </ng-container>
  
  
  <!-- REMARK COLUMN -->
  <!-- REMARK INPUT -->
  <ng-container matColumnDef="Remark">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">
      Remark
    </th>
  
    <td mat-cell *matCellDef="let element" class="text-center p-0">
  
      <textarea
        class="form-control form-control-sm small-input mx-auto"
        placeholder="Enter remark"
        rows="2"
        style=" max-width: 160px;"
        [(ngModel)]="element.remark">
      </textarea>
  
    </td>
  </ng-container>
  
  
  <!-- SAVE BUTTON -->
  <ng-container matColumnDef="Save">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 80px;">
      Action
    </th>
  
    <td mat-cell *matCellDef="let element" class="text-center p-0">
      <button class="btn btn-outline-primary btn-sm py-0 px-2"
              (click)="saveRow(element)">
        Save
      </button>
    </td>
  </ng-container>
  
  







                  
  
                <!-- File Name -->
                <!-- <ng-container matColumnDef="filename">
                  <th mat-header-cell *matHeaderCellDef>File</th>
                  <td mat-cell *matCellDef="let row">
                    <button *ngIf="row.filename" class="btn btn-link text-decoration-none text-primary p-0"
                      (click)="DownloadFileWithName(row.filepath,row.filename)">
                      {{ row.filename }}
                    </button>
                  </td>
                </ng-container> -->

                <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef>File</th>
    <td mat-cell *matCellDef="let row">
      <button 
        *ngIf="row.filename"
        class="btn btn-sm text-light align-items-center border rounded  btn-outline-danger-subtle bg-danger-subtle"
        (click)="DownloadFileWithName(row.filepath,row.filename)"
      >
      <i
      class="bi bi-filetype-pdf text-danger"></i>
      </button>
    </td>
  </ng-container>
  
  
                <!-- Header & Row Definition -->
                <tr mat-header-row *matHeaderRowDef="[
                'sno',
                'licno',
                'unitname',
                'unitaddress',
                'city',
                'unitinchargename',
                'licIssuingAuthority',
                'unitinchargemob',
                'unitinchargeemail',
                'issuedate',
                'validitydate',
                'lictypename',
                'statename',
                'entrydate',
                'isaccepteddt',
                'filename',
                'isaccepted',
                'accrejremarks',
                
              ]"></tr>
  
                <tr mat-row *matRowDef="let row; columns: [
                'sno',
                'licno',
                'unitname',
                'unitaddress',
                'city',
                'unitinchargename',
                'licIssuingAuthority',
                'unitinchargemob',
                'unitinchargeemail',
                'issuedate',
                'validitydate',
                'lictypename',
                'statename',
                'entrydate',
                'isaccepteddt',
                'filename',
                'isaccepted',
                'accrejremarks',
                
              ]"></tr>
              </table>
            </div>
  
            <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </ng-template>
      <div class="card shadow-lg  border bg-whitee rounded "*ngIf="onshowLICENCE==true">
      
        <div class="card-body  px-3 px-3 pb-3 bg-light" style="height: auto; overflow: hidden; position: relative;">
          <div class="mb-3 Fon-family" style="text-align: justify;">
            <form [formGroup]="licForm" (ngSubmit)="onSubmitLicence()">
              <div class="row text-start ">
                <!-- Unit -->
                <div class="col-md-6 mb-3"style="position: relative;">
                  <label class="form-label fw-bold">Unit<span class="text-danger">*</span></label>
                  <div class="form-group" style="position: relative;">
                  <ng-select class="form-select w-auto" [items]="unitList" bindLabel="unitname" bindValue="unitid"
                    formControlName="mUNITID" [placeholder]="licForm.get('mUNITID')?.value ? '' : 'Select Unit'"
                    [searchable]="true" [clearable]="true" appendTo=".form-group" [ngStyle]="{
                      'border': (licForm.get('mUNITID')?.invalid && (licForm.get('mUNITID')?.dirty || licForm.get('mUNITID')?.touched))
                        ? '1px solid #dc3545'
                        : (licForm.get('mUNITID')?.valid && (licForm.get('mUNITID')?.dirty || licForm.get('mUNITID')?.touched))
                          ? '1px solid #198754'
                          : '',
                      'box-shadow': (licForm.get('mUNITID')?.invalid && (licForm.get('mUNITID')?.dirty || licForm.get('mUNITID')?.touched))
                        ? '0 0 0 0.1rem rgba(220,53,69,0.25)'
                        : (licForm.get('mUNITID')?.valid && (licForm.get('mUNITID')?.dirty || licForm.get('mUNITID')?.touched))
                          ? '0 0 0 0.1rem rgba(25,135,84,0.25)'
                          : ''
                    }"
                    >
                  </ng-select>
                  <div class="text-danger mt-1">
                    <span
                      *ngIf="(licForm.get('mUNITID')?.touched || submitted) && licForm.get('mUNITID')?.errors?.['required']">
                      Unit is required.
                    </span>
                  </div>
                  </div>
                </div>
      

<!-- Licence Type -->
<div class="col-md-6 mb-3">
    <label class="form-label fw-bold">License Type<span class="text-danger">*</span></label>
    <ng-select class="form-select w-auto" [items]="licenceTypes" bindLabel="lictypename" bindValue="lictypeid"
        formControlName="mLICTYPEID"  (change)="onLicenceTypeChange($event)" [placeholder]="licForm.get('mLICTYPEID')?.value ? '' : 'Select Licence Type'"
        [searchable]="true" [clearable]="true" appendTo=".form-group" [ngStyle]="{
        'border': (licForm.get('mLICTYPEID')?.invalid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
          ? '1px solid #dc3545'
          : (licForm.get('mLICTYPEID')?.valid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
            ? '1px solid #198754'
            : '',
        'box-shadow': (licForm.get('mLICTYPEID')?.invalid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
          ? '0 0 0 0.1rem rgba(220,53,69,0.25)'
          : (licForm.get('mLICTYPEID')?.valid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
            ? '0 0 0 0.1rem rgba(25,135,84,0.25)'
            : ''
      }">
    </ng-select>
    <div class="text-danger mt-1">
        <span
            *ngIf="(licForm.get('mLICTYPEID')?.touched || submitted) && licForm.get('mLICTYPEID')?.errors?.['required']">
            License Type is required.
        </span>
    </div>
</div>








            <div class="col-md-6 mb-3" *ngIf="showImporterType">
                <label class="form-label fw-bold">Importer Type<span class="text-danger">*</span></label>
                <ng-select class="form-select w-auto" [items]="MasimportertypeDDL" bindLabel="imptypename"
                  bindValue="imptypeid" formControlName="mLICTYPEID"
                  [placeholder]="!licForm.get('mLICTYPEID')?.value ? 'Choose Import Type' : ''" [searchable]="true"
                  [clearable]="true" [appendTo]="'body'"  [ngStyle]="{
                    'border': (licForm.get('mLICTYPEID')?.invalid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
                      ? '1px solid #dc3545'
                      : (licForm.get('mLICTYPEID')?.valid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
                        ? '1px solid #198754'
                        : '',
                    'box-shadow': (licForm.get('mLICTYPEID')?.invalid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
                      ? '0 0 0 0.1rem rgba(220,53,69,0.25)'
                      : (licForm.get('mLICTYPEID')?.valid && (licForm.get('mLICTYPEID')?.dirty || licForm.get('mLICTYPEID')?.touched))
                        ? '0 0 0 0.1rem rgba(25,135,84,0.25)'
                        : ''
                  }"
                  >
                </ng-select>
                <div class="text-danger mt-1">
                  <span
                    *ngIf="(licForm.get('mLICTYPEID')?.touched || submitted) && licForm.get('mLICTYPEID')?.errors?.['required']">
                    Importer Type is required.
                  </span>
              </div>
              </div>









                <!-- Form Type -->
                <div class="col-md-6 mb-3" *ngIf="showFormType">
                  <label class="form-label fw-bold">Form Type<span class="text-danger">*</span></label>
                  <ng-select class="form-select w-auto" [items]="formList" bindLabel="formname" bindValue="formid"
                    formControlName="mFORMID" [placeholder]="licForm.get('mFORMID')?.value ? '' : 'Select Form Type'"
                    [searchable]="true" [clearable]="true" appendTo=".form-group" [ngStyle]="{
                      'border': (licForm.get('mFORMID')?.invalid && (licForm.get('mFORMID')?.dirty || licForm.get('mFORMID')?.touched))
                        ? '1px solid #dc3545'
                        : (licForm.get('mFORMID')?.valid && (licForm.get('mFORMID')?.dirty || licForm.get('mFORMID')?.touched))
                          ? '1px solid #198754'
                          : '',
                      'box-shadow': (licForm.get('mFORMID')?.invalid && (licForm.get('mFORMID')?.dirty || licForm.get('mFORMID')?.touched))
                        ? '0 0 0 0.1rem rgba(220,53,69,0.25)'
                        : (licForm.get('mFORMID')?.valid && (licForm.get('mFORMID')?.dirty || licForm.get('mFORMID')?.touched))
                          ? '0 0 0 0.1rem rgba(25,135,84,0.25)'
                          : ''
                    }"
                    >
                  </ng-select>
                  <div class="text-danger mt-1">
                    <span
                      *ngIf="(licForm.get('mFORMID')?.touched || submitted) && licForm.get('mFORMID')?.errors?.['required']">
                      Form Type is required.
                    </span>
                  </div>
                </div>
      
               
      
                <!-- Licence No -->
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-bold">Licence No<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="mLICNO" placeholder="Enter Licence Number"[ngClass]="{
                    'is-invalid': (licForm.get('mLICNO')?.touched || submitted) && licForm.get('mLICNO')?.invalid,
                    'is-valid': licForm.get('mLICNO')?.valid && (licForm.get('mLICNO')?.touched || submitted)
                  }">
                   <span class="text-danger" *ngIf="(licForm.get('mLICNO')?.touched || submitted)">
                      
                    <!-- Required field -->
                    <span *ngIf="licForm.get('mLICNO')?.errors?.['required']">
                      License No is required
                    </span>
      
                    <!-- Invalid pattern -->
                    <!-- <span *ngIf="licForm.get('mLICNO')?.errors?.['pattern']">
                      Invalid License No format
                     </span> -->
                  </span>
                  <!-- <small class="text-danger"
                    *ngIf="licForm.get('mLICNO')?.touched && licForm.get('mLICNO')?.hasError('required')">
                    Licence No is required.
                  </small>
                  <small class="text-danger" *ngIf="licForm.get('mLICNO')?.hasError('pattern')">
                    Invalid Licence No format.
                  </small> -->
                </div>
      
                <!-- Issue Date -->
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-bold">Issue Date<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" formControlName="mISSUEDATE" [ngClass]="{
                    'is-invalid': (licForm.get('mISSUEDATE')?.touched || submitted) && licForm.get('mISSUEDATE')?.invalid,
                    'is-valid': licForm.get('mISSUEDATE')?.valid && (licForm.get('mISSUEDATE')?.touched || submitted)
                  }">
                   <span class="text-danger"
                   *ngIf="(licForm.get('mISSUEDATE')?.touched || submitted) && licForm.get('mISSUEDATE')?.errors?.['required']">
                   Issue Date is required.
                 </span>
                  <!-- <small class="text-danger" *ngIf="licForm.get('mISSUEDATE')?.touched && licForm.get('mISSUEDATE')?.invalid">
                    Issue Date is required.
                  </small> -->
                </div>
      
                <!-- Start Date -->
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-bold">Start Date<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" formControlName="mStartDate" [ngClass]="{
                    'is-invalid': (licForm.get('mStartDate')?.touched || submitted) && licForm.get('mStartDate')?.invalid,
                    'is-valid': licForm.get('mStartDate')?.valid && (licForm.get('mStartDate')?.touched || submitted)
                  }">
                   <span class="text-danger"
                   *ngIf="(licForm.get('mStartDate')?.touched || submitted) && licForm.get('mStartDate')?.errors?.['required']">
                   Start Date is required.
                 </span>
                  <!-- <small class="text-danger" *ngIf="licForm.get('mStartDate')?.touched && licForm.get('mStartDate')?.invalid">
                    Start Date is required.
                  </small> -->
                </div>
      
                <!-- Validity Date -->
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-bold">End Date<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" formControlName="mVALIDITYDATE" [ngClass]="{
                    'is-invalid': (licForm.get('mVALIDITYDATE')?.touched || submitted) && licForm.get('mVALIDITYDATE')?.invalid,
                    'is-valid': licForm.get('mVALIDITYDATE')?.valid && (licForm.get('mVALIDITYDATE')?.touched || submitted)
                  }">
                   <span class="text-danger"
                   *ngIf="(licForm.get('mVALIDITYDATE')?.touched || submitted) && licForm.get('mVALIDITYDATE')?.errors?.['required']">
                   End Date  is required.
                 </span>
                  <!-- <small class="text-danger"
                    *ngIf="licForm.get('mVALIDITYDATE')?.touched && licForm.get('mVALIDITYDATE')?.invalid">
                    End Date is required.
                  </small> -->
                </div>
  
                <!-- Validity Date -->
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-bold">Licence Issuing Authority<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="mLicIssuingAuthority"placeholder="Enter Issuing Authority" 
                  [ngClass]="{
                    'is-invalid': (licForm.get('mLicIssuingAuthority')?.touched || submitted) && licForm.get('mLicIssuingAuthority')?.invalid,
                    'is-valid': licForm.get('mLicIssuingAuthority')?.valid && (licForm.get('mLicIssuingAuthority')?.touched || submitted)
                  }">
                   <span class="text-danger"
                   *ngIf="(licForm.get('mLicIssuingAuthority')?.touched || submitted) && licForm.get('mLicIssuingAuthority')?.errors?.['required']">
                   licence issuing authority is required.
                 </span>
                  <!-- <small class="text-danger"
                    *ngIf="licForm.get('mLicIssuingAuthority')?.touched && licForm.get('mLicIssuingAuthority')?.invalid">
                    licence issuing authority is required.
                  </small> -->
                </div>
      
                <!-- Upload Licence -->
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-bold">Upload Licence<span class="text-danger">*</span></label>
                  <input type="file" class="form-control" accept=".jpg,.jpeg,.png,.pdf" (change)="onFileSelected($event)"
                    name="selectedPanFile" formControlName="Files" [ngClass]="{
                                    'is-invalid': (licForm.get('Files')?.touched || submitted) && licForm.get('Files')?.invalid,
                                    'is-valid': licForm.get('Files')?.valid && (licForm.get('Files')?.touched || submitted)
                                  }" />
                
                  <span class="text-danger"
                    *ngIf="(licForm.get('Files')?.touched || submitted) && licForm.get('Files')?.errors?.['required']">
                    Licence file is required.
                  </span>
                  <!-- <small class="text-danger"
                                    *ngIf="licForm.get('mLICENCEFILE')?.touched && licForm.get('mLICENCEFILE')?.invalid">
                                   
                                  </small> -->
                </div>
      
      
                <!-- Submit -->
                <div class="col-12 text-center mt-3 mb-1 ">
                  <button type="submit" class="btn btn-primary px-4" [disabled]="!licForm.valid">
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <!-- modal -->
  <div class="modal fade custom-transparent-modal" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
      <div class="modal-content border-0 shadow-none">
        <div class="modal-header bg-dark text-white py-2 px-3">
          <h5 class="modal-title" id="pdfModalLabel">PDF Preview</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <iframe
            [src]="sanitizedPdfUrl"
            class="pdf-frame"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>