
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner>

<ng-container *ngIf="!isLoginPage">
  <mat-toolbar color="primary" class="toolbar">

    <!-- Menu Icon -->
    <button (click)="drawer.toggle()" mat-icon-button class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>
  
    <!-- Title -->
    <span class="title">VENDOR REGISTRATION PORTAL</span>
  
    <!-- Desktop Welcome Message -->
    <span class="welcome-text">Welcome: <strong>{{ firstname | titlecase }}</strong></span>
  
    <!-- Back button -->
    <button mat-button class="back-btn" (click)="goBack()">
      <span class="button-label">Back</span>
    </button>
  
    <!-- Mobile Back Icon -->
    <button mat-icon-button class="mobile-back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  
  </mat-toolbar>
  
  <!-- <mat-toolbar color="primary" class="mat-elevation-z8" style="display: flex; align-items: center;">
   
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  
  
    <a class="navbar-brand ms-2" href="#">VENDOR REGISTRATION PORTAL</a>
  
    
    <span class="example-spacer" style="flex-grow: 1;"></span>
  
  
    <h4 class="welcome-message my-0 me-3"  >
      Welcome: <strong>{{ firstname | titlecase }}</strong>
    </h4>
  
 <button mat-button (click)="goBack()" class="back-button" aria-label="Back">
  <span class="button-label">Back</span>
</button>

<span class="spacer"></span>

  </mat-toolbar> -->

  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="side" position="start" mode="over">
      <mat-nav-list>
        <ng-container *ngFor="let item of menuItems">
       
          <mat-list-item>
          
            <a *ngIf="isExternalLink(item.route)" [href]="item.route" target="_blank">
              <button  mat-button   (click)="drawer.close()" >
                <mat-icon>format_list_bulleted</mat-icon> {{ item.label }}
              </button>
            </a>
  
          
            <button *ngIf="!isExternalLink(item.route)"
                    mat-button (click)="item.submenu ? toggleSubmenu(item.label) : drawer.close()" 
                    [routerLink]="!item.submenu ? item.route : null">
              <mat-icon>format_list_bulleted</mat-icon> {{ item.label }}


  
             
              <mat-icon *ngIf="item.submenu">
                {{ expandedMenus[item.label] ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            </button>
          </mat-list-item>
  
         
          <div *ngIf="expandedMenus[item.label]" class="submenu">

            
            <mat-list-item *ngFor="let subItem of item.submenu">
              <button [routerLink]="subItem.route" mat-button (click)="drawer.close()">
                <mat-icon>subdirectory_arrow_right</mat-icon> {{ subItem.label }}
              </button>
            </mat-list-item>
          </div>
          
        </ng-container>
        <mat-list-item>
          <button  mat-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Log Out
          </button>
        </mat-list-item>
  
        <ng-container *ngIf="menuItems.length === 0">
          <mat-list-item>
            <button mat-button disabled>
              <mat-icon>error</mat-icon> No menu items available
            </button>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
      
      
    </mat-drawer>
  
    <mat-drawer-content>
    
      <div style="text-align: center">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
  
  
  
</ng-container>

<ng-container *ngIf="isLoginPage">
  <router-outlet></router-outlet>
  <div (click)="handleOutsideClick($event)" class="add-to-home-screen-container">
    <div [class.show]="showButton" class="add-to-home-screen">
      <button (click)="addToHomeScreen()">Add to Home screen</button>
      <button class="close-btn" (click)="hideAddToHomeScreen()">×</button>
    </div>
  </div>
</ng-container>
