
<div class="container-fluid">



    <div class="form-group mb-2">
        <label for="yearSelect">Procurement Year</label>
        <select id="yearSelect" class="form-control" (change)="onYearChange($event)">
          <option value="">-- Select Year --</option>
          <option *ngFor="let year of years" [value]="year.id">
            {{ year.label }}
          </option>
        </select>
      </div>
    

    <div class="row mb-3 text-center">
        <div class="col-md-3">
          <button 
          class="btn btn-primary w-100"
          (click)="showData()"
           >Show
          </button>
        </div>
      
      </div>
      

    <!-- Left Table -->
    <div class="row">
        
        <div class="col-12 col-md-6 card">


            
            <!-- Filter + Export Bar -->
  <div class="d-flex justify-content-between align-items-center mb-3 mt-2 ">
      <div class="filter-field flex-grow-1">
        <input type="text" class="form-control" placeholder="Filter"
          (keyup)="applyTextFilterLeft($event)">
      </div>
      <div class="export-menu-container">
        <button mat-button [matMenuTriggerFor]="exportMenuLeft">Export</button>
        <mat-menu #exportMenuLeft="matMenu">
          <button mat-menu-item
            (click)="exporter.exportTable('xlsx', { fileName: 'CMEexcessLiftSummary', sheet: 'leftsheet', Props: { Author: 'cgmsc' }})">
            Excel
          </button>
          <button mat-menu-item (click)="exportToPDFLeft()">PDF</button>
        </mat-menu>
      </div>
    </div>
            <div class="table-responsive" style="overflow-x: auto;">
                
                
                
                <table mat-table [dataSource]="dataSource" #exporter="matTableExporter" matTableExporter class="mat-elevation-z8 half-table">

                   
<!-- S.No -->
<ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef style="width: 50px;"> S.No </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Facility Name -->
  <ng-container matColumnDef="facilityname">
    <th mat-header-cell *matHeaderCellDef> Facility  </th>
    <td mat-cell *matCellDef="let element" (click)="GetCMEExcessLiftDetail(selectedYearId,element.facilityid)" >{{ element.facilityname }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Category -->
  <ng-container matColumnDef="category_label">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element">{{ element.category_label }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Count of Code -->
  <ng-container matColumnDef="countOfCode">
    <th mat-header-cell *matHeaderCellDef> Count of Code </th>
    <td mat-cell *matCellDef="let element">{{ element['Count of Code'] }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Excess Lifted Value -->
  <ng-container matColumnDef="excessLiftedValue">
    <th mat-header-cell *matHeaderCellDef> Excess Lifted Value (in Cr) </th>
    <td mat-cell *matCellDef="let element">{{ element['Sum of Excess Lifted Value in Rs'] | number }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="['sno','facilityname','category_label','countOfCode','excessLiftedValue']"></tr>
  
  <!-- Data Row -->
  <tr mat-row *matRowDef="let row; columns: ['sno','facilityname','category_label','countOfCode','excessLiftedValue'];"></tr>
  
              
              </table>
             </div> 
          <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>

        </div>

        <div class="col-12 col-md-6 card">
            <div class="table-responsive" style="overflow-x: auto;">
                   <!-- Filter + Export Bar -->
    <div class="d-flex justify-content-between align-items-center mb-3 mt-2">
        <div class="filter-field flex-grow-1">
          <input type="text" class="form-control" placeholder="Filter"
            (keyup)="applyTextFilterRight($event)">
        </div>
        <div class="export-menu-container">
          <button mat-button [matMenuTriggerFor]="exportMenuRight">Export</button>
          <mat-menu #exportMenuRight="matMenu">
            <button mat-menu-item
              (click)="exporterRight.exportTable('xlsx', { fileName: 'CMEExcessLiftDetail', sheet: 'rightsheet', Props: { Author: 'cgmsc' }})">
              Excel
            </button>
            <button mat-menu-item (click)="exportToPDFRight()">PDF</button>
          </mat-menu>
        </div>
      </div>
            <!-- Right Table -->
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 full-width"  #exporterRight="matTableExporter" matTableExporter matSort #sort2="matSort" >

<!-- S.No Column -->
<ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef style="width: 50px;"> S.No </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Facility ID -->
  <ng-container matColumnDef="facilityid">
    <th mat-header-cell *matHeaderCellDef> Facility ID </th>
    <td mat-cell *matCellDef="let element">{{ element.facilityid }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Facility Name -->
  <ng-container matColumnDef="facilityname">
    <th mat-header-cell *matHeaderCellDef> Facility  </th>
    <td mat-cell *matCellDef="let element">{{ element.facilityname }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Item Name -->
  <ng-container matColumnDef="itemname">
    <th mat-header-cell *matHeaderCellDef> Item </th>
    <td mat-cell *matCellDef="let element">{{ element.itemname }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Strength -->
  <ng-container matColumnDef="strength1">
    <th mat-header-cell *matHeaderCellDef> Strength </th>
    <td mat-cell *matCellDef="let element">{{ element.strength1 }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Unit -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unit </th>
    <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Annual Indent (AI) -->
  <ng-container matColumnDef="ai">
    <th mat-header-cell *matHeaderCellDef> AI </th>
    <td mat-cell *matCellDef="let element">{{ element.ai }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Issued Qty -->
  <ng-container matColumnDef="issueqty">
    <th mat-header-cell *matHeaderCellDef> Issued Qty </th>
    <td mat-cell *matCellDef="let element">{{ element.issueqty }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Issued Value (Rs) -->
  <ng-container matColumnDef="issValuers">
    <th mat-header-cell *matHeaderCellDef> Issued Value (₹) </th>
    <td mat-cell *matCellDef="let element">{{ element.issValuers | number }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Issue Nos -->
  <ng-container matColumnDef="issuenous">
    <th mat-header-cell *matHeaderCellDef> Issue Nos </th>
    <td mat-cell *matCellDef="let element">{{ element.issuenous }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Item ID -->
  <ng-container matColumnDef="itemid">
    <th mat-header-cell *matHeaderCellDef> Item ID </th>
    <td mat-cell *matCellDef="let element">{{ element.itemid }}</td>
    <td mat-footer-cell *matFooterCellDef> - </td>
  </ng-container>
  
  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="[
    'sno','facilityid','facilityname','itemname',
    'strength1','unit','ai','issueqty','issValuers',
    'issuenous','itemid'
  ]"></tr>
  
  <!-- Data Row -->
  <tr mat-row *matRowDef="let row; columns: [
    'sno','facilityid','facilityname','itemname',
    'strength1','unit','ai','issueqty','issValuers',
    'issuenous','itemid'
  ];"></tr>
  
              
              </table>
              
        </div>
        <mat-paginator  #paginator2 [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>