<div class="container my-4">
  <!-- Vehicle Current Position -->
  <!-- <div class="text-center">
    <h1 class="fw-bold">Vehicle Current Position</h1>
    <p class="mb-3">
      <span>Latitude: <b>{{ lat }}</b></span> |
      <span>Longitude: <b>{{ long }}</b></span>
    </p>
  </div> -->

  <!-- Dropdowns and Date Picker -->
  <h1 class="text-center" style="color: rgb(50, 50, 164);">
    <strong>Update Delivery Acknowledgement</strong>
  </h1>

  <!-- New Supplier Dropdown -->
  <!-- <div class="col-12 col-md-6 mb-3">
    <label class="form-label"><strong>Choose Supplier</strong>:</label>
    <ng-select
      [items]="SupplierDropDownList"
      bindLabel="suppliername"
      bindValue="supplierid"
      [(ngModel)]="supplierid"
      name="supplierid"
      (change)="onSupplierChange($event)"
      [placeholder]="!supplierid ? 'Choose Supplier' : ''"
      [searchable]="true"
      [clearable]="true"
      [appendTo]="'body'"
      required
      class="form-control"
    >
    </ng-select>
  </div> -->

  <div class="row justify-content-center mb-3">
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label"><strong>Choose Vehicle</strong>:</label>
      <ng-select
        [items]="VehicleNoDropDownList"
        bindLabel="vehicalno"
        bindValue="vid"
        [(ngModel)]="vid"
        name="vid"
        (change)="onVSelectChange($event)"
        #emailidField="ngModel"
        [placeholder]="!vid ? 'Choose Vehicle' : ''"
        [searchable]="true"
        [clearable]="true"
        [appendTo]="'body'"
        required
        class="form-control"
      >
      </ng-select>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label"> <strong>Choose Travel Voucher</strong>:</label>
      <ng-select
        [items]="TravelVoucherDropDownList"
        bindLabel="details"
        bindValue="indentid"
        [(ngModel)]="indentid"
        name="indentid"
        (change)="onTravelVChange($event)"
        #emailidField="ngModel"
        [placeholder]="!indentid ? 'Choose Travel Voucher' : ''"
        [searchable]="true"
        [clearable]="true"
        [appendTo]="'body'"
        required
        class="form-control"
      >
      </ng-select>
    </div>
    <div class="col-12 text-center mb-2">
      <button class="btn btn-primary  w-md-auto" (click)="show()">Show Details</button>
    </div>
  
   
  </div>

  <!-- Cards Section -->
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let travel of TravelVoucherDropDownList2">
      <div class="card h-100">
        <div class="card-body">
          <p><b>Health Facility:</b> {{ travel.facilityname }}</p>
          <p><b>District:</b> {{ travel.districtname }}</p>
          <p><b>INdent Date :</b> {{ travel.indentid }}</p>
          <p><b>Warehouse Voucher:</b> {{ travel.issuevoucher }}</p>
          <p><b>Number of Items Issued:</b> {{ travel.nositems }}</p>
          <p><b>Warehouse Issue Date :</b> {{ travel.issuevoucherdt }}</p>
          <p><b>Transport Voucher Date:</b> {{ travel.travelvoucherissuedt }}</p>
          <p><b>Longitude of Facility:</b> {{ travel.longitude }}</p>
          <p><b>Latitude of Facility:</b> {{ travel.latitude }}</p>
          <p><b>Travel ID:</b> {{ travel.travaleid }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <label class="form-label"><strong>Select Date & Time of Delivery</strong>:</label>
    <input
      type="datetime-local"
      class="form-control"
      [(ngModel)]="selectedDate"
      name="selectedDate"
      required
    />
  </div>
  <!-- Action Button -->
  <div class="text-center mt-3">
    <button class="btn btn-primary  w-md-auto" (click)="submit()">Update Delivery </button>
  </div>
</div>
