.container {
    max-width: 1200px;
    
  }
  
  .chart-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #ffffff;
  }
  
  button {
    margin-top: 10px;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .form-check-label {
    font-weight: 500;
    margin-left: 5px;
  }
  .Active {
    background-color: #28a745; /* Example for active button */
    color: white;
  }
  
  