/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.row-red td   { background-color: #f56571 !important; }
.row-yellow td { background-color: #faaaa6 !important; }
.row-pink td   { background-color: #fdae80 !important; }
.row-gray td   { background-color: #f8f081 !important; }
.row-magenta td { background-color: #b3eaff !important;}
.row-green td  { background-color: #7effb4 !important; }



.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    
  }

 
  .link-hoverr:hover {
    color: #6200ff;         
    text-decoration: underline; 

    cursor: pointer;
    font-weight: bold;
  }


   
  
