<div class="container-fluid mt-5 p-4 shadow border rounded bg-light py-3 px-3">
    <h4 class="d-flex justify-content-between align-items-center border-bottom p-2" (click)="isCollapsed = !isCollapsed"
      role="button" aria-expanded="false" aria-controls="collapseExample" style="color:blue">
       Retention
      <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </h4>
    <div [collapse]="isCollapsed">
  
  
  
      <form [formGroup]="RetentionForm" (ngSubmit)="onSubmit()">
        <div class="row text-start ">
  
            
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Licence<span class="text-danger">*</span></label>
                <ng-select class="form-select w-auto" [items]="ManLicDdllist" bindLabel="manfacname" bindValue="licid"
                  formControlName="mLICID" [placeholder]="RetentionForm.get('mLICID')?.value ? '' : 'Select Licence'"
                  [searchable]="true" [clearable]="true" [appendTo]="'body'" >
                </ng-select>
            </div> 
  
         
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Importer Type<span class="text-danger">*</span></label>
            <ng-select class="form-select w-auto" [items]="MasimportertypeDDL" bindLabel="imptypename" bindValue="imptypeid"
              formControlName="mImptypeid" [placeholder]="!RetentionForm.get('mImptypeid')?.value ? 'Choose Import Type' : ''"
              [searchable]="true" [clearable]="true" [appendTo]="'body'">
            </ng-select>
          </div>

          <!-- Licence No -->
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Licence No<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Licence Number" formControlName="mIMPLICNO">
          </div>

           <!-- Issue Date -->
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Issue Date<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="mISSUEDATE">
          </div>
  
          <!-- Start Date -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Start Date<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="mStartDate">
          </div>
  
          <!-- Validity Date -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Valid upto<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="mVALIDITYDATE">
          </div>

          
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Upload Document<span class="text-danger">*</span></label>
            <input type="file" class="form-control" accept=".jpg,.jpeg,.png,.pdf" (change)="onFileSelected($event)">
          </div>
            
          <!-- Submit -->
          <div class="text-center mt-4 mb-1">
            <button type="submit" class="btn btn-primary px-4" [disabled]="!RetentionForm.valid">
              Submit
            </button>
          </div>
        </div>
      </form>

    
      
      
  
   
      
  


   <div class="card shadow rounded bg-light mx-auto mt-5 mb-4">
        <div class="card-body p-3">
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="filter-field flex-grow-1">
                    <input type="text" class="form-control form-control-sm" placeholder="Filter"
                      (keyup)="applyTextFilter($event)">
                  </div>
                  <div class="export-menu-container ms-2">
                    <button mat-button [matMenuTriggerFor]="exportMenu" class="btn btn-sm btn-secondary">Export</button>
                    <mat-menu #exportMenu="matMenu">
                      <button mat-menu-item
                        (click)="exporter.exportTable('xlsx', { fileName: 'PPC_List_', sheet: 'PPC_List_', Props: { Author: 'cgmsc' }})">Excel</button>
                      <button mat-menu-item (click)="exportToPDF()">PDF</button>
                    </mat-menu>
                  </div>
                </div>
                <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource" matTableExporter
                    class="table table-bordered table-hover table-sm align-middle" #exporter="matTableExporter">
                  <!-- S.No Column -->
<ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef style="width: 50px;">S.No</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>
  
  <!-- Licence ID -->
  <ng-container matColumnDef="licid">
    <th mat-header-cell *matHeaderCellDef>Licence ID</th>
    <td mat-cell *matCellDef="let element">{{ element.licid }}</td>
  </ng-container>
  
  <!-- Licence No -->
  <ng-container matColumnDef="licno">
    <th mat-header-cell *matHeaderCellDef>Licence No</th>
    <td mat-cell *matCellDef="let element">{{ element.licno }}</td>
  </ng-container>
  
  <!-- Form Name -->
  <ng-container matColumnDef="formname">
    <th mat-header-cell *matHeaderCellDef>Form Name</th>
    <td mat-cell *matCellDef="let element">{{ element.formname }}</td>
  </ng-container>
  
  <!-- Unit Name -->
  <ng-container matColumnDef="unitname">
    <th mat-header-cell *matHeaderCellDef>Unit Name</th>
    <td mat-cell *matCellDef="let element">{{ element.unitname }}</td>
  </ng-container>
  
  <!-- Import Licence No -->
  <ng-container matColumnDef="implicno">
    <th mat-header-cell *matHeaderCellDef>Import Licence No</th>
    <td mat-cell *matCellDef="let element">{{ element.implicno }}</td>
  </ng-container>
  
  <!-- Import Type Name -->
  <ng-container matColumnDef="imptypename">
    <th mat-header-cell *matHeaderCellDef>Import Type</th>
    <td mat-cell *matCellDef="let element">{{ element.imptypename }}</td>
  </ng-container>
  
  <!-- Issue Date -->
  <ng-container matColumnDef="issuedate">
    <th mat-header-cell *matHeaderCellDef>Issue Date</th>
    <td mat-cell *matCellDef="let element">{{ element.issuedate }}</td>
  </ng-container>
  
  <!-- Start Date -->
  <ng-container matColumnDef="startdate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.startdate }}</td>
  </ng-container>
  
  <!-- Expiry Date -->
  <ng-container matColumnDef="expdate">
    <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
    <td mat-cell *matCellDef="let element">{{ element.expdate }}</td>
  </ng-container>
  
  <!-- File Name -->
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef>File Name</th>
    <td mat-cell *matCellDef="let element">{{ element.filename }}</td>
  </ng-container>
  
  <!-- Supplier ID -->
  <ng-container matColumnDef="supplierid">
    <th mat-header-cell *matHeaderCellDef>Supplier ID</th>
    <td mat-cell *matCellDef="let element">{{ element.supplierid }}</td>
  </ng-container>
  
  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="[
    'sno',
    'licno',
    'formname',
    'unitname',
    'implicno',
    'imptypename',
    'issuedate',
    'startdate',
    'expdate',
    'filename',
  ]"></tr>
  
  <tr mat-row *matRowDef="let row; columns: [
    'sno',
    'licno',
    'formname',
    'unitname',
    'implicno',
    'imptypename',
    'issuedate',
    'startdate',
    'expdate',
    'filename',
  ];"></tr>
  
                      
                  </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
              </div>
        </div>
    </div>



    <form [formGroup]="RetentionForm2" (ngSubmit)="onSubmit2()">
        <div class="row text-start ">
  
            
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Licence<span class="text-danger">*</span></label>
                <ng-select class="form-select w-auto" [items]="DDlImprtLic" bindLabel="impTypeName" bindValue="impId"
                  formControlName="mIMPID" [placeholder]="RetentionForm2.get('mIMPID')?.value ? '' : 'Select Licence'"
                  [searchable]="true" [clearable]="true" [appendTo]="'body'" >
                </ng-select>
            </div> 
  
         
         

          

           <!-- Issue Date -->
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Issue Date<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="mISSUEDATE">
          </div>
  
          <!-- Start Date -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Start Date<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="mStartDate">
          </div>
  
          <!-- Validity Date -->
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Valid upto<span class="text-danger">*</span></label>
            <input type="date" class="form-control" formControlName="mVALIDITYDATE">
          </div>

          
          <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">Upload Document<span class="text-danger">*</span></label>
            <input type="file" class="form-control" accept=".jpg,.jpeg,.png,.pdf" (change)="onFileSelected2($event)">
          </div>
            
          <!-- Submit -->
          <div class="text-center mt-4 mb-1">
            <button type="submit" class="btn btn-primary px-4" [disabled]="!RetentionForm2.valid">
              Submit
            </button>
          </div>
        </div>
      </form>


      <div class="card shadow rounded bg-light mx-auto mt-5">
        <div class="card-body p-3">
            <div class="table-container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="filter-field flex-grow-1">
                    <input type="text" class="form-control form-control-sm" placeholder="Filter"
                      (keyup)="applyTextFilter2($event)">
                  </div>
                  <div class="export-menu-container ms-2">
                    <button mat-button [matMenuTriggerFor]="exportMenu2" class="btn btn-sm btn-secondary">Export</button>
                    <mat-menu #exportMenu2="matMenu">
                      <button mat-menu-item
                        (click)="exporter.exportTable('xlsx', { fileName: 'List_', sheet: 'List_', Props: { Author: 'cgmsc' }})">Excel</button>
                      <button mat-menu-item (click)="exportToPDF2()">PDF</button>
                    </mat-menu>
                  </div>
                </div>
                <div class="table-responsive">
                  <table mat-table [dataSource]="dataSource2" matTableExporter
                    class="table table-bordered table-hover table-sm align-middle" #exporter="matTableExporter"matSort
                    #sort1="matSort">
           <!-- S.No Column -->
<ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef style="width: 50px;">S.No</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>
  
  <!-- Import Return ID -->
  <ng-container matColumnDef="impRetId">
    <th mat-header-cell *matHeaderCellDef>Import Return ID</th>
    <td mat-cell *matCellDef="let element">{{ element.impRetId }}</td>
  </ng-container>
  
  <!-- Import ID -->
  <ng-container matColumnDef="impId">
    <th mat-header-cell *matHeaderCellDef>Import ID</th>
    <td mat-cell *matCellDef="let element">{{ element.impId }}</td>
  </ng-container>
  
  <!-- Import Licence No -->
  <ng-container matColumnDef="impLicNo">
    <th mat-header-cell *matHeaderCellDef>Import Licence No</th>
    <td mat-cell *matCellDef="let element">{{ element.impLicNo }}</td>
  </ng-container>
  
  <!-- Import Type Name -->
  <ng-container matColumnDef="impTypeName">
    <th mat-header-cell *matHeaderCellDef>Import Type</th>
    <td mat-cell *matCellDef="let element">{{ element.impTypeName }}</td>
  </ng-container>
  
  <!-- Licence ID -->
  <ng-container matColumnDef="licId">
    <th mat-header-cell *matHeaderCellDef>Licence ID</th>
    <td mat-cell *matCellDef="let element">{{ element.licId }}</td>
  </ng-container>
  
  <!-- Licence No -->
  <ng-container matColumnDef="licNo">
    <th mat-header-cell *matHeaderCellDef>Licence No</th>
    <td mat-cell *matCellDef="let element">{{ element.licNo }}</td>
  </ng-container>
  
  <!-- Unit Name -->
  <ng-container matColumnDef="unitName">
    <th mat-header-cell *matHeaderCellDef>Unit Name</th>
    <td mat-cell *matCellDef="let element">{{ element.unitName }}</td>
  </ng-container>
  
  <!-- Supplier ID -->
  <ng-container matColumnDef="supplierId">
    <th mat-header-cell *matHeaderCellDef>Supplier ID</th>
    <td mat-cell *matCellDef="let element">{{ element.supplierId }}</td>
  </ng-container>
  
  <!-- Start Date -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
  </ng-container>
  
  <!-- Issue Date -->
  <ng-container matColumnDef="issueDate">
    <th mat-header-cell *matHeaderCellDef>Issue Date</th>
    <td mat-cell *matCellDef="let element">{{ element.issueDate }}</td>
  </ng-container>
  
  <!-- Expiry Date -->
  <ng-container matColumnDef="expDate">
    <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
    <td mat-cell *matCellDef="let element">{{ element.expDate }}</td>
  </ng-container>
  
  <!-- File Name -->
  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef>File Name</th>
    <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
  </ng-container>
  
  <!-- File Path -->
  <ng-container matColumnDef="filePath">
    <th mat-header-cell *matHeaderCellDef>File Path</th>
    <td mat-cell *matCellDef="let element">{{ element.filePath }}</td>
  </ng-container>
  
  <!-- Import Type ID -->
  <ng-container matColumnDef="impTypeId">
    <th mat-header-cell *matHeaderCellDef>Import Type ID</th>
    <td mat-cell *matCellDef="let element">{{ element.impTypeId }}</td>
  </ng-container>
  
  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="[
    'sno',
    'impRetId',
    'impId',
    'impLicNo',
    'impTypeName',
    'licId',
    'licNo',
    'unitName',
    'supplierId',
    'startDate',
    'issueDate',
    'expDate',
    'fileName',
    'filePath',
    'impTypeId'
  ]"></tr>
  
  <tr mat-row *matRowDef="let row; columns: [
    'sno',
    'impRetId',
    'impId',
    'impLicNo',
    'impTypeName',
    'licId',
    'licNo',
    'unitName',
    'supplierId',
    'startDate',
    'issueDate',
    'expDate',
    'fileName',
    'filePath',
    'impTypeId'
  ];"></tr>
  
  
                      
                  </table>
                </div>
                <mat-paginator  paginator1 [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
              </div>
        </div>
    </div>


    </div>
  </div>
  
  



  
  
  
  